.page-title{
   
   

padding:0;

}
.venuepage .showAtVenueTitle{
float:none;
}
.venuepage .cont .showAtVenue .field-content{
  margin-left:0px;
}
.showpage .related-posts .pic{
  width:25%;
  margin-right: 5%;
}
.showpage .related-posts .pic img{
  width:100%;
  height: auto;
}
.showpage .related-posts  h2{
  margin-left:0px;
}
.showpage .related-posts  h3{
  margin-left: 0px;
}
.post-content img{
  margin-right:20px !important;
  padding:0px !important;
  margin-bottom:20px !important;
}
.post-content .lead{
  font-size:20px !important;
}
.post-content{
  width:70%;
  
  font-size:16px !important;
  font-family: Montserrat, Helvetica, Arial, sans-serif !important; 
}
.postsList p span{
  font-size:16px !important;
  font-family: Montserrat, Helvetica, Arial, sans-serif !important; 
}
.postsList p{
  font-size:16px !important;
  font-family: Montserrat, Helvetica, Arial, sans-serif !important; 
}
.postsList span{
  font-size:16px !important;
  font-family: Montserrat, Helvetica, Arial, sans-serif !important; 
}
#loader{
    width:10%;
    margin:auto;
}
.col-title{
    /*border-bottom:2px solid black;*/
}
.fullschedule{
    margin:auto;
    width:100%;
}
.fullreviews{
    margin:auto;
    width:100%;
}
.fullschedule img{
    width:100%;
}
.fullschedule .showAtVenueImage{
    width:25%;
    margin-right:2%;
}
.fullschedule .showAtVenueTitle h4{
    font-size:1.57em;
    font-weight: bold;
    padding:5px;
    text-align:center;
}
.fullreviews .showAtVenueTitle h4{
    font-size:1.57em;
    font-weight: bold;
}
.fullschedule .showAtVenueTitle{
width:100%;
float:none;}
.manageOutReviews{
    width:50%;
    margin:auto;
}
.manageUserReviews{
    width:50%;
    margin:auto;
}
.showAtVenue{
  -webkit-box-shadow: 10px 10px 20px -12px rgba(177,30,35,1);
-moz-box-shadow: 10px 10px 20px -12px rgba(177,30,35,1);
box-shadow: 10px 10px 20px -12px rgba(177,30,35,1);
   border:4px solid #ddd;
    padding:10px;
    margin-top:10px;
   overflow:auto;
   box-shadow:;
}
/*.cont{
     -webkit-box-shadow: 10px 10px 20px -12px rgba(177,30,35,1);
-moz-box-shadow: 10px 10px 20px -12px rgba(177,30,35,1);
box-shadow: 10px 10px 20px -12px rgba(177,30,35,1);
}*/
.showAtVenueDescript{
    color:black;
}
.showAtVenueImage{
   margin-right:20px;
   width:35%;
}
.showAtVenueImage img{
    padding:0px;
}
.showAtVenueTitle{
   width:60%;
}
.criticsReviews{
    text-align: center;
    padding:20px;
    border-bottom:15px solid #e06666;
}
.showAtVenue a{
float:left;


}
.blog-post .cont .field-content p{
    
    text-indent: 0px;
}
.cont{
    overflow:auto;
    min-height:222px;
}
.blog-post .cont img {
    width:50%;
    height:auto;
    margin:auto;
    float:left;
}

.blog-post .cont .showAtVenue a img{
    margin:0 !important; 
    
    width:100%;

}
header.page-header{
    margin-top: 0px !important;
    padding-bottom:0px;
    border-bottom:none;
}
.page-title img{
    width:100%;
}

.secondary-nav li a {
 
  white-space: nowrap;
}
.logo-col{
    width:0;
    padding:0;
}
.widget-descript{
	display:inline-block;
   
    vertical-align: top;
    margin-top:0px;
    padding-left:0px;
    background: black;
    color:white;
}
.widget-glance{
    display:inline-block;
  
    vertical-align: top;
    margin-top:0px;
    padding-left:0px;
    background:white;
    
}
.widget-first-row {
    width:100%;
    border:1px solid black;
    
   
}
.widget-first-row .head{
    font-size:20px;
}
.widget-first-row:nth-child(4) {
   border-right:0px solid black;
   
}
.widget-first-row:nth-child(1) {
   padding:10px;
  
}
.widget-good{
    background:white;
}
.widget-bad{
    background:white;
}
.page-header-middle{
    border-bottom:0px;
}
.page-title:before{
opacity:0;
    
}
.popular-news .items a {

    text-indent: 0 !important;
}
.tabs{
    text-indent: 0%;
}
.popular-news .items .pic-hidden{
	display:none;
}
.logo-fixed{
    display:none;
    width:100%;

}
.widget-first-row .head{
    color:#3f3f3f;

}
.widget-show-descript{
    color:white;
    width:100%;
}
.widget-descript .head{
    color:white;
}
.total-star-rating {
        font-size: 0;
        white-space: nowrap;
        display: inline-block;
        width: 125px;
        height: 25px;
        overflow: hidden;
        position: relative;
        background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
        background-size: contain;
        color:#ffcc39;
    }
    .total-star-rating i {
        opacity: 1;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0%;
        z-index: 1;
        background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
        background-size: contain;
    }
    .total-star-rating input {
        -moz-appearance: none;
        -webkit-appearance: none;
        opacity: 0;
        display: inline-block;
        width: 20%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 2;
        position: relative;
    }
#startRating{
    display:none;
}
.widget-rating{
    background:black;
    color:white;
}
.widget-rating h2{
    display:inline-block;
    font-size:20px;
    margin-left:10%;
}
.editor{
    margin:auto;
    width:65%;
}

.

.fullreviews .showAtVenue img{
    width:25%;
}
.fullreviews .showAtVenueImage img{
    width:100%;
}
.fullreviews .showAtVenueImage{
    width:25%;
}
/*.blog-post .cont .fullreviews img{
    width:25%;
    float:left !important;
   margin-right:0px;
  
}*/
.fullreviews .showAtVenueTitle{
   
  
}

.venuecol{
    float:left;
    padding:20px;
}
.reviewTags {
  color:#B11E24;
  font-weight:bold;
}
.reviewDescript{

}
.blog-post .cont .reviewDescript p{
    color:black;
}
.blog-post .cont .showAtVenueDescript{
    color:black;
}
.reviewLogo{
    width:100%;
}
.widget-weather{
    width:100%;
    overflow:hidden;
}
.widget a {
 
  font-size: 14px;

 

  transition: opacity 0.3s;
}
.widget-socials{
    width:100%;
}
.widget .cont{
    overflow:hidden;
}
.widget-your-rating{
    background:white;
   border-right:1px solid #e06666;
}
.submitRating{
    margin-bottom:40px;
    margin-left:15px;
    font-size:25px;
}
.widget-popular .reviewSubmit{
     font-size:25px;
     color:white;
}
.checkboxlistgood input{
    display:inline-block;
}
.checkboxlistbad input{
    display:inline-block;
}
.blog-post .bar{
    overflow:auto;
    line-height: 2em;
    height:auto;
}


.blog-post .cont .field-content p {
    margin-top:0px;
}
.blog-post .cont .field-content {
    margin-left:55%;
}
.blog-post .review p {

    margin-top:8px;
}
.userReview{
color:rgb(255, 204, 57);    
background:black;
}
#writeuserreview{
    color:black;
    background:white;
    border:4px solid #B11E24;
}
#submitshowreview{
    margin-top:10px;
    border-color:#6a385b;
}
#submitshowreview:hover{
background:#e06666;
border-color:white;
}

.related-posts h2 {
  margin-left: 120px;
  font-size:20px;

}
.related-posts li{

  border: 4px solid #ddd;
  border-top-width:0px;
  padding: 20px;
}
.related-posts ul{
      -webkit-box-shadow: 10px 10px 20px -12px rgba(177,30,35,1);
  -moz-box-shadow: 10px 10px 20px -12px rgba(177,30,35,1);
  box-shadow: 10px 10px 20px -12px rgba(177,30,35,1);
}
.related-posts .head{
  
  border: 4px solid #ddd;
  padding: 20px;
  text-align:center;
}
.related-posts li{

    margin-top:0px;
}
.hidden{
    height:0;
}
.cont .showAtVenue p{
    color:black;
}
.cont .showAtVenue .field-content{
    margin-left: 38%;
}
.widget-weather button {
position:relative;
right: 0px;
bottom:0px;
}
.widget-weather{
    background : #ffcc39
}
.widget-socials{
    background:#56a3d9;
   color:white;
}
.tweet{
 color:white;
    padding: 10px;
}
.widget .fa-twitter{
    font-size: 30px;
}
.widget-socials a {
  /width: 0;
  height: 0;

  line-height:0;
  text-align: center;
  color: #fff;
  transition: opacity 0.3s;
}
#map_canvas{
    color:black;
}
hr{
      border-top: 1px solid #000000 !important
}
#sawthis:hover{
    text-decoration:none;
}
.tooltip{
    width:100px;
}
.img-header{
    cursor:pointer;
}
.page-title{
    cursor:pointer;
}
.dropdown{
    background:#ffcc39;
 
}
.dropdown  a{
   
    padding-left: 10px;
    padding-right:10px;
}
nav #user{
    color:black;
}
.dropdown .glyphicon{
    color:black;
}
.dropdown .caret{
    color:black;
}
.dropdown-menu{
    background:black;
    color:white;
    border:1px solid white;
}
.dropdown-menu li a:hover{
    background:black;
}
.widget-weather{
    color:black;
}
.page-content{
    background-image: url('../../static/img/patterns/item-10.png')
}
.page-content .grid-cont{
    background:white;
}
.post-title{
    background:white;
    opacity:0.65;
    color:black !important;
}
.bottom-post-content .related-posts{
    padding:0px;
}
.related-posts{
    margin-top:0px;
    padding-bottom:20px;
   
}
.related-posts li .field-content{
                  border-bottom: 1px dashed#ddd;

  padding-bottom: 15px;

}
 .blog-comments{
    padding: 0 15px;
}
.page2{
    display:none;
}
.page3{
    display:none;
}
.page4{
    display:none;
}
.page5{
    display:none;
}
.page6{
    display:none;
}
.page7{
    display:none;
}
.pager .prev{
    display:none;
}
.popular-news{
    text-indent:0;
}
main{
    text-indent: 0px;
}
#popuplar-news-1{
    font-size:0 ;
}
#popuplar-news-2{
    font-size:0 ;
}
#popuplar-news-3{
    font-size:0 ;
}
#popuplar-news-1 a {
    font-size:23px;
}
#popuplar-news-2 a {
    font-size:23px;
}
#popuplar-news-3 a {
    font-size:23px;
}
.pager .active{
    cursor:default;
}
#sortable1, #sortable2 {
    border: 0px solid #eee;
    width: 80%;
    min-height: 200px;
    list-style-type: none;
    margin: auto;
    padding: 5px 0 0 0;
  }
  #sortable1 li, #sortable2 li {
    margin-top: 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 100%;
    background-color: #e06666;
    color:white;
    cursor:pointer;
  }
  #sortable1 li:nth-child(1){
    background-color: gold;
    content: "1";
  }
#sortable1 li:nth-child(2){
    background-color: silver;
  }
  #sortable1 li:nth-child(3){
    background-color: #cd7f32;
  }
   #sortable1 li:nth-child(4){
    background-color: #e06666;
  }
   #sortable1 li:nth-child(5){
    background-color: black;
  }
  .questions input{
    display:inline;
    
  }
  .questions{
    width:80%;
    margin:auto;
  }
  .widget-events a:before {
    content:none;
}
.widget-shows-seen a{
    padding-left:0;
    color:white;
}
.user-profile .userReview p{
    color:white;
}
.edit-survey{
    float:right;
}
.widget-popular .ranking ul{
    display:block;
}
.widget-popular .ranking li{
min-height:0px;
}
.form-group{
    margin-bottom:2px !important;
    
}

.widget-popular .form-group{
    width:100%;
}
.widget-cherry{
    background:#B11E24;
    color:white;
}

.widget-cherry .head{
  
    color:white;
}
.search2{
    background:white;
}
.search2 input{
    display:inline-block;
    padding:10px;
}
#writeuserreview{
    padding:10px;
}
.showsInfo{
    padding:3px;
    border-bottom:1px solid black;
    overflow:auto;
    transition: all 0.3s cubic-bezier(0, 0, 0.58, 1);
  
}
.page-footer{
    margin-top:0px;
}
.bottom-post-content{
    padding:30px;
}
.showsInfo:hover{
    background:whitesmoke;
}
.widget-first-row .head{
    border-bottom: 3px solid #B11E24;
    padding-bottom:3px;
}
.percent{
    float:left;
    width:20%;
}
.showInfoName{
    width:80%;
    float:left;
}
.blog-list .item img{
   width:90%;
margin:0 auto;
}
.blog-list .grid-row{
    margin:0;
    /*border-bottom:2px solid black;*/
}
.blog-list .item{
    /*border: 2px solid #B11E24;*/
    text-align:center;
    padding:10px;
    overflow:auto;
}
.blog-list .pic{

    text-align:center;
      background: white
}
.blog-list .date{
    float:none;
}
.blog-list .date i{
    float:none;
}
.blog-list h2{
    font-size: 24px;
    overflow:hidden;
}
.field-content p{
      font-family: 'Open Sans', Montserrat, Helvetica, Arial, sans-serif;
}
.cont .fullschedule .showAtVenue .field-content{
    margin-left:27%;
}
.fullreviews .reviewDescript{
    width:100%;
    margin-left: 0px;
    float:none;
}
.fullreviews .showAtVenueTitle{
    float:none;
    margin:0;
    width:100%;
    font-size:10px;
font-style: italic;  
text-align:center;
}
.reviewAuthor{
    margin-top:10px;
}
.paperlogo{
    float:right !important;
    width:15% !important;
}
.reviewManagerHeadline{
    overflow:auto;
}
.anOutReview .btn{
    margin:6px;
}
.anOutReview input{
    margin:6px;
}
.userReviewName{
    color:#B11E24
}
#writeuserreview{
    width:100%;
}
.widget{
  font-size:14px;
}
@media screen and (max-width: 700px) {
    .grid-col-4 {
       width:100%;
    }
    .grid-col-6 {
       width:100%;
    }
    .widgets-switcher{
        display:none;
    }
    .showpage .widget-popular{
        display:none;
    }
    .reviewTopMenu{
      display:none;
    }
    .writeReviewMobile{
      display:block;
    }
    .item{
      border-bottom:2px dashed #B11E24;
    }
    .post-content{
      width:100%;
    }
    .bottom-post-content .related-posts{
      margin-bottom:30px;
    }
}
 .bottom-post-content .related-posts h3{
    font-size:20px;
    }
@media screen and (min-width: 700px) {
  .mobileReviewButton{
    display:none;
  }
   .WriteReviewMobile{
      display:none;
    }
}
.widget-first-row-review{
    text-align:center;
}
.widget-first-row-review .btn{
    text-align:center;
    width:100%;
    padding:10px;
}
.search3 input{
    border:3px solid black;
    text-align:center;
    width:100%;
    padding:10px;
    background:white;
}
#reviewModal .modal-body{
    background:#B11E24;
    color:white;

}
#reviewModal{
    top:25%;
   
}
#reviewModal .modal-body h1{
  font-size:24px;
    
}
.widget-modal-review{
    display:none;
    background:black;
    color:white;
    width:100%;
    text-align:center;
}
.widget-modal-review .checkboxlistgood{
    color:lime;
}
.widget-modal-review .checkboxlistbad{
    color:red;
}
.modal-backdrop {
 
  height:100%;
}
.dropdown-menu li {
  padding: 10px;
  /* margin-left: 0px; */
  margin-left: 0px;
  line-height: 18px;
  text-align: center;
}
.autocomplete-suggestions{
    width:350px;
}
.reviewTopMenu{
   background:#B11E24;
    color:white;
margin-top:30px;
border:0px;

}
.mobileReviewButton{
    background:#B11E24;
    color:white;

margin-top:20px;
margin-bottom:20px;
border:0px;
}
.page-header-middle.fixed .reviewTopMenu{
    margin-top:0px;
 

}
.reviewModalCol{
   padding-top: 14px;
  padding-left: 32px;
}
.post .grid-cont{
    background-size:contain;
}
.post .cont img{
    border:0px !important;
    padding:35px;
}
.title{
    text-align:center;
}
.fullschedule .showAtVenueImage{
    width:100%;
    float:none;
}
.fullschedule .showAtVenueImage img{
    width:100%;
    float:none;
    padding:20px;
}
.cont .fullschedule .showAtVenue .field-content{
    margin-left:0px;
    padding:10px;
}
.showpage .blog-post .cont img {
  width:100%;
  height: auto;
  margin: auto;
  float: left;
}

.showpage .blog-post .cont .field-content {
  margin-left: 0%;
}