

<div id = "paneltext" style = "text-align: center"class="panel panel-default">
<p style = "padding-top: 10%; padding-bottom: 5%; padding-left:10%; padding-right:10%; font-size:20px"><b>Zing</b> aims to provide a useful resource for the Philadelphia theater community. By combining original content, aggregated reviews from around the web, and user reviews we hope to offer up a more full description of the arts scene in Philadelphia. Zing is currently <b>in beta</b>, please help our site with any ideas you may have by contacting us at <b>info@phillyzing.com</b></p>
<p style = "font-size:20px">Designed and Developed @ </p>
<a href = "http://www.codearium.com/" target = "_blank"><img style = "padding-bottom: 5%" src = "/static/codearium 2.png"></a>
</div>

