

<div id = "paneltext" style = "text-align: center"class="panel panel-default">
<p style = "padding-top: 20%; padding-bottom: 20%; padding-left:10%; padding-right:10%; font-size:20px"><b>Zing</b> aims to provide a useful resource for the Philadelphia theater community. By combining original content, aggregated reviews from around the web, and user reviews we hope to offer up a more full description of the arts scene in Philadelphia. Zing is currently <b>in beta</b>, please help our site with any ideas you may have by contacting us at <b>info@phillyzing.com</b></p>
</div>

