<!doctype html>
{%extends 'layout.html'%}
{%block stylesheet%}<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/simple-sidebar/css/simple-sidebar.css"rel = "stylesheet">
<style type="text/css">
 
       .carousel-inner > .item > img{
       width:640px;
       height:360px;
       text-align: center;
       margin: 0 auto;
     }
</style>
{%endblock%}




{% block sources %}

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../static/homepage.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/jquery.ba-hashchange.min.js"></script>

  {% endblock %}