<!DOCTYPE html>
<html>
	<head>
		<title>Zing</title>
		
		<!-- metas -->
		<meta charset="utf-8">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<!--/ metas -->
		
		<!-- styles -->

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		   <link href="static/bootstrap-3.3.1/dist/css/bootstrap.css" rel="stylesheet">

		<link rel="stylesheet" href="static/css/owl.carousel.css">
		<link rel="stylesheet" href="static/css/main.css">
		<link rel="stylesheet" href="static/css/color.css">
		<link rel="stylesheet" href="static/css/custom.css">
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		 <script src="//cdn.ckeditor.com/4.4.5/full/ckeditor.js"></script>
		{%block stylesheet%}

   <!-- <link rel="stylesheet" type="text/css" href="static/slick-1.3.11/slick/slick.css"/>
     <link rel="stylesheet" type="text/css" href="static/jquery-ui-1.11.2.custom/jquery-ui.min.css"/>
{%endblock%}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="//cdn.ckeditor.com/4.4.5/full/ckeditor.js"></script>
		 styles -->
      <style type="text/css">
      {%for topx in toprated%}
.toprated-star-rating-x{{loop.index}} {
  
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 75px;
  height: 15px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.toprated-star-rating-x{{loop.index}} i {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: {{topx['avg']}}%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.toprated-star-rating-x{{loop.index}} input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
{%endfor%}
   {%for thisweek in thisweek%}
.thisweek-star-rating-x{{loop.index}} {
  
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 75px;
  height: 15px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.thisweek-star-rating-x{{loop.index}} i {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: {{thisweek['rating']}}%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.thisweek-star-rating-x{{loop.index}} input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
{%endfor%}

{%for trend in trending%}
.trend-star-rating-x{{loop.index}} {
  
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 75px;
  height: 15px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.trend-star-rating-x{{loop.index}} i {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: {{trend['avg']}}%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.trend-star-rating-x{{loop.index}} input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
{%endfor%}

</style>
	</head>
	   
	
	<body>
		<!-- page -->
    <div style = "display: none" id = "userInSession">{{useron}}</div>
		{%if fromEmail%}
<div style = "display:none" id = "fromEmail">a</div>
{%endif%}
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id = "emailVerif" style = "text-align: center" class="panel panel-default">
         <h3>Thank you for verifying your account. Welcome to Zing!</h3>
        </div>
    </div>
</div>
</div>
</div>

		<div class="page">
			<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div  style = "text-align: center" class="panel panel-default">
          <br>
            <ul class="nav nav-pills">
                <li role="presentation" class="active" id = "signuptrigger"><a > <h2 >Sign up</h2></a></li>
                <li role="presentation" id = "signintrigger"><a ><h2 >Log in</h2></a></li>
            </ul>
        
            <br>
            <div id = "somethingWrong" style = "display: none"></div>
            <div class = "signInForm" style = "display:none" >
                
                <a style = "background-color: #3B5998; color: white; \"  class="btn btn-default" href="#facebookLogin" >Log in with Facebook</a>
                <br>
                <br>
                <form class = "form-inline" role = "form" >
                    <div class="form-group email-form" style = "">
                        <input  type="text"  style = "" id = "loginEmail" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group password-form" style = "">
                        <input  type="password"  id = "loginPassword" class="form-control" placeholder="Password">
                    </div>
                    <br>
                    <div class="form-group" style = " "> 
                        <br>
                        <a style = ""  id = "signinbutton" class="btn btn-default"  >Sign in</a>
                    </div>
                </form>
            </div>
            <div class = "signUpForm">
                <h4>Sign up to post reviews and earn rewards.</h4>
                <br>
                <a style = "background-color: #3B5998; color: white; "   class="btn btn-default" href="#facebookLogin" >Sign up with Facebook</a>
                <br>    
                Don't worry, we never post without your permission.
                <br>
                <p> or create an account </p>
                <br>
                <form class = "form-inline" role = "form" >
                    <div class="form-group" >
                        <input  type="text"   id = "newfirst" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group" >
                        <input  type="text" id = "newlast" class="form-control" placeholder="Last Name">
                    </div>
                    <div class = "mobileNobreaks"></div>
                    <div class="form-group email-form"> 
                    <input type="text" id = "newemail" class="form-control" placeholder="Email">
                    </div>
                    <div class = "mobileNobreaks"></div>
                    <div class="form-group password-form">
                    <input  type="password" id = "newpassword" class="form-control" placeholder="Password">
                    </div>

              <!--       <div class = "birthday" style= "margin-top: 3%">
                   <label>
Birthday                   </label>
<br>
<select id = "month" style = "width: 25%"class="form-control" placeholder = "Month">
<option value="" selected disabled>Month</option>
  {%for month in ['January','February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']%}
  
    <option>{{month}}</option>>
 {%endfor%}
 
</select>


 <select id = "day" style = "width: 25%; "class="form-control">
  <option value="" selected disabled>Day</option>
  {%for month in range(31)%}
 
    <option>{{month}}</option>>
 {%endfor%}

</select>


<select id = "year" style = "width: 25%; "class="form-control">
<option value="" selected disabled>Year</option>
  {%for month in range(2000, 1930, -1)%}
  
    <option>{{month}}</option>>
 {%endfor%}
</select>
</div> -->
  
                    <br>
                    <br>
                    <a style = "margin-bottom: 5%"   class="btn btn-default" href="#signup" >Sign up</a>
                </form>
                </div>
        </div>
    </div>
</div>
</div>
</div>
			<!-- page header -->

			<header class="page-header">
				
				<!-- page header top -->
				<div class="page-header-top">
					
					<div class="grid-cont">
						<div class="grid-row">
							<div class="grid-col grid-col-1">
								<!-- logo -->
								<a href="/" class="logo logo-alt"><img src="static/chair.png" width="68" height="61" alt=""></a>
								<!--/ logo -->
							</div>
							<div class="grid-col grid-col-2">
								<!-- slogan -->
								<a href="/" class="slogan slogan-alt"><span>Zing.</span></a>
                <div class = "mobile-header"><a href = "/"><img alt ="mobile-header" src = "static/zingheadernew.png"></a></div>
								<!--/ slogan -->
							</div>
							
							<div class="grid-col grid-col-9">							
								<!-- secondary nav -->
								{%if adminPrivileges%}
								<nav class="secondary-nav" style="text-align:left">
								{%else%}
								<nav class="secondary-nav">
								{%endif%}
									<ul>
										<li>
											<a href="/" class="active">home</a>
										</li>
										<li>
											<a href="#blog">blog</a>
										</li>
										<li>
											<a href="#about">about us</a>
										</li>
										
										{%if useron == "none"%}
                           				<li class= "loginNav">
											<a data-toggle="modal" data-target="#loginModal" class="alt">Login</a>
										</li>
                            {%else%}
                            <li class="dropdown">
                                <a data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>
                                    

                                    <span id="user">{{useron}}</span>

                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href="#logout">Logout</a>
                                    </li>
                                     <li><a href="#profile">My account</a>
                                    </li>
                                </ul>
                            </li>
                            {%endif%}

										
										  {%if adminPrivileges%}
								}
                   <li>
                            <a href="#editpage"  type="button">

                                Edit Page
                            </a>
                 </li>
                 <li>
                            <a href="#updateOutsideArticles"  type="button">

                              Update Articles                            </a>
                      </li>
                   <li>
                            <a href="#manageReviews" >

                               Manage User Reviews                          </a>
                      </li>
                        <li>
                            <a href="#manageOutReviews" >

                                 Manage Outside Reviews                          </a>
             </li>
                          

                 

                    {%endif%}
									</ul>
								</nav>
								<!--/ secondary nav -->
							</div>
						</div>
					</div>
					
				</div>
				<!-- page header top -->
				
				<!-- page header middle -->
				<div class="page-header-middle">
					
					<div class="grid-cont">
						<div class="grid-row">
						<div class="grid-col grid-col-2 logo-col">
						<a href="/" class="logo logo-alt logo-fixed"><img src="static/chair.png" width="68" height="61" alt=""></a>
						</div>							
							<div class="grid-col grid-col-5">
								<!-- main nav -->
								<nav id="main-nav" class="main-nav">
									<a href="#" class="switcher"><i class="fa fa-bars"></i></a>
									<ul>
										<li class="has-dropdown">
											<a href="#fullschedule">shows</a>
											<div class="dropdown dropdown-large">
												<div class="grid-row">
													<div class="grid-col grid-col-3">
														<ul class="subnav">
															
															<li><a href="#fullschedule">All Shows</a></li>
															<li><a href="#">Comedy</a></li>
															<li><a href="#">Experimental</a></li>
															<li><a href="#">Drama</a></li>
															<li><a href="#">Classics</a></li>
															<li><a href="#">Musicals</a></li>
														</ul>
													</div>
													<div class="grid-col grid-col-9">
														<div class="latest">
															<p>
																<a href="#" class="fa fa-chevron-right next"></a>
																<a href="#"  class="fa fa-chevron-left prev"></a>
																On tap
															</p>
															<div class="carousel">
															{%for week in thisweek%}
						

																<div class="item">
																	<a href="#show/{{week['id']}}" style="background-image: url('static/Zingimages/{{week['id']}}.jpg')">
																		<h4>{{week['name']}}</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div>

																{%endfor%}
																
																
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="has-dropdown">
											<a href="#fulltheatres">theatres</a>
											<div class="dropdown dropdown-large">
												<div class="grid-row">
													<div class="grid-col grid-col-3">
														<ul class="subnav">
															
															<li><a href="#fulltheatres">All Theatres</a></li>
															<li><a href="#">Comedy</a></li>
															<li><a href="#">Experimental</a></li>
															<li><a href="#">Drama</a></li>
															<li><a href="#">Classics</a></li>
															<li><a href="#">Musicals</a></li>
														</ul>
													</div>
													<div class="grid-col grid-col-9">
														<div class="latest">
															<p>
																<a href="#" class="fa fa-chevron-right next"></a>
																<a href="#"  class="fa fa-chevron-left prev"></a>
															Theatres
															</p>
															<div class="carousel">
															{%for theatre in theatres%}
						

																<div class="item">
																	<a href="#venue/{{theatre['id']}}" style="background-image: url('static/ZingVenueImages/{{theatre['id']}}.png')">
																		<h4>{{theatre['name']}}</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div>

																{%endfor%}
																
																
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="has-dropdown">
											<a href="#fullreviews">reviews</a>
											<div class="dropdown dropdown-large">
												<div class="grid-row">
													<div class="grid-col grid-col-3">
														<ul class="subnav">
															
															<li><a href="#reviews/inq">Inquirer Theatre Blog</a></li>
															<li><a href="#reviews/phin">Phindie</a></li>
															<li><a href="#reviews/how-shap">Howard Shapiro's Theatre Blog</a></li>
															<li><a href="#reviews/bsr">Broad Street Review</a></li>
															<li><a href="#reviews/city-paper">City Paper</a></li>
															<li><a href="#reviews/phil-week">Philadelphia Weekly</a></li>
															
														</ul>
													</div>
													<div class="grid-col grid-col-9">
														<div class="latest">
															<p>
																<a href="#" class="fa fa-chevron-right next"></a>
																<a href="#"  class="fa fa-chevron-left prev"></a>
															Newest Reviews
															</p>
															<div class="carousel">
															{%for review in reviews%}
						

																<div class="item">
																	<a href="#show/{{review['showid']}}" style="background-image: url('static/Zingimages/{{review['showid']}}.jpg')">
																		<h4>{{review['title']}}</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div>

																{%endfor%}
																
																
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
                    <li class = "loginMobile">
                      <a data-toggle="modal" data-target="#loginModal" >login</a>
                     
                       
                         
                     
                    </li>
										
									
									</ul>
								</nav>
								<!--/ main nav -->
							</div>
							
							
							<div class="grid-col grid-col-4">
								<!-- search -->
								<form action="#" class="search">
									<input type="text" placeholder="search" autocomplete="off">
									<button type="submit" class="fa fa-search"></button>
								</form>
								<!--/ search -->
							</div>
							<div class ="grid-col grid-col-3 col-title" style = "background:white">
							<div class="page-title">
							
						<img class= "img-header"  alt = "desktopHeader" src = "static/zingheadernew.png">
						
						
						<!-- <a href="#" class="subscribe subscribe-alt"><i class="fa fa-rss"></i>subscribe to this category</a> -->
					</div>
						</div>
					</div>					
				</div>
        </div>
				<!-- page header middle -->
				
			</header>
			<!--/ page header -->
			
			<!-- page content -->
			<main class="page-content">
			
				<div class="grid-cont">
					<!-- featured news -->
					<div class="grid-row">
					<div class="grid-col grid-col-3">
					<div class="widget-first-row widget  widget-descript">
								<div class="head">Welcome</div>
								<p style = " text-align: left"><b>Here's how PhillyZing works:</b>
								<br>
                <br>
								<a href = "#login_sidebar">1) Register to be a reviewer. </a>
								<br>

								2) Share your authentic experience at a live show. 
								<br>

								3) We count your review, and the best shows rise to the top. 
								</p>
                <br>
                <br>
                <a style = "float:right" data-toggle = "helpModal">... Need more help??</a>

						</div>

              <!-- widget socials -->
              <div class = "widget widget-first-row  widget-cherry">

            <div class="head">Find and Review a show!</div>
            <form action="#" class="search2">
                  <input type="text" placeholder="search" autocomplete="off">
                  <button type="submit" class="fa fa-search"></button>
                </form>
                </div>
                <!-- <span class="star-rating">
      
      
                  <input type="radio" name="stars" value="1"><i></i>
                  <input type="radio" name="stars" value="2"><i></i>
                  <input type="radio" name="stars" value="3"><i></i>
                  <input type="radio" name="stars" value="4"><i></i>
                  <input type="radio" name="stars" value="5"><i></i>
                  </span>
    
              
                  <a href="#" class=" submitRating btn btn-success glyphicon glyphicon-ok"></a>
                  

                <a class = "btn btn-success reviewSubmit" href="#">Write a Review!<span class = "glyphicon glyphicon-pencil"></span></a> -->
                  
                  
                 
</div>
   
              <div class="col-md-3 col-xs-6 col-sm-3">

            <div class="widget widget-first-row  widget-glance">
                <div class="head">Top Rated</div>
              
                {%for toprated in toprated%}
              <a href="#show/{{toprated['id']}}">
                
                <div class = "showsInfo">{{toprated['avg']}}% - {{toprated['name']}}</div>
              </a>
              {%endfor%}

            </div>
            </div>
				
											<div class="col-md-3 col-xs-6 col-sm-3">

						<div class="widget widget-first-row  widget-glance">
								<div class="head">This Week</div>
							
								{%for thisweek in thisweek%}
							<a href="#show/{{thisweek['id']}}">
								
								<div class = "showsInfo" >{{thisweek['rating']}}% - {{thisweek['name']}}</div>
							</a>
							{%endfor%}

						</div>
						</div>
              <div class="col-md-3 col-xs-6 col-sm-3">
            <div class="widget widget-first-row  widget-glance">
                <div class="head">Trending</div>
              
                {%for trend in trending%}
              <a href="#show/{{trend['id']}}">
                
                <div class = "showsInfo">{{trend['avg']}}% - {{trend['name']}}</div>
              </a>
              {%endfor%}

            </div>
            </div>
										
											<!-- <div class="col-md-2 col-xs-6 col-sm-2">

						<div class="widget widget-first-row  widget-glance">
								<div class="head">At a Glance</div>
							
								{%for trend in trending%}
							<a href="#show/{{trend['id']}}">
								
								<div>{{trend['avg']}}% -- {{trend['name']}}</div>
							</a>
							{%endfor%}

						</div>
						</div> -->
						</div>
							
					

					<!-- <div id="featured-news" class="featured-news">
						<a href="#" class="item">
							<span class="pic" style="background-image: url(http://placehold.it/1050x220)"></span>
							<h2>Lorem Ipsum gravida nibh vel velit auctor ipsum gravida nibh</h2>
						</a>
						<a href="#" class="item">
							<span class="pic" style="background-image: url(http://placehold.it/1050x220)"></span>
							<h2>Lorem Ipsum gravida nibh vel velit auctor ipsum gravida nibh</h2>
						</a>
						<a href="#" class="item">
							<span class="pic" style="background-image: url(http://placehold.it/1050x220)"></span>
							<h2>Lorem Ipsum gravida nibh vel velit auctor ipsum gravida nibh</h2>
						</a>
					</div> -->
					<!--/ featured news -->
					
					<!-- popuplar news -->
					<div id="popular-news" class="popular-news">
						<div class="tabs">
							<a href="#popuplar-news-1" class="active">this week</a>
							<a href="#popuplar-news-2">trending</a>
							<a href="#popuplar-news-3">top rated</a>
						</div>
						<div id="popuplar-news-1" class="items items-visible">
							{%for week in thisweek%}
							{%if loop.index < 4%}
							<a class = "pic{{loop.index}}" href="#show/{{week['id']}}" >
								<div class="pic " style="background-image: url(static/Zingimages/{{week['id']}}.jpg)"></div>
								<span>{{week['name']}}</span>
								<span class="thisweek-star-rating-x{{loop.index}}">
  								<input type="radio" name="rating" value="1"><i></i>
  								<input type="radio" name="rating" value="2"><i></i>
								  <input type="radio" name="rating" value="3"><i></i>
								  <input type="radio" name="rating" value="4"><i></i>
								  <input type="radio" name="rating" value="5"><i></i>
								</span>
							</a>
							{%else%}
							<a class = "pic-hidden pic{{loop.index}}" href="#show/{{week['id']}}">
								<div class="pic " style="background-image: url(static/Zingimages/{{week['id']}}.jpg)"></div>
								<span>{{week['name']}}</span>
								<span class="thisweek-star-rating-x{{loop.index}}">
								  <input type="radio" name="rating" value="1"><i></i>
								  <input type="radio" name="rating" value="2"><i></i>
								  <input type="radio" name="rating" value="3"><i></i>
								  <input type="radio" name="rating" value="4"><i></i>
								  <input type="radio" name="rating" value="5"><i></i>
								</span>
							</a>
							{%endif%}
							{%endfor%}

						</div>
						<div id="popuplar-news-2" class="items">
						{%for trend in trending%}
						{%if loop.index < 4%}
							<a href="#show/{{trend['id']}}" class = "pic{{loop.index}}">
								<div class="pic" style="background-image: url(static/Zingimages/{{trend['id']}}.jpg)">
								</div>
								<span>{{trend['name']}}</span>
								<span class="trend-star-rating-x{{loop.index}}">
								  <input type="radio" name="rating" value="1"><i></i>
								  <input type="radio" name="rating" value="2"><i></i>
								  <input type="radio" name="rating" value="3"><i></i>
								  <input type="radio" name="rating" value="4"><i></i>
								  <input type="radio" name="rating" value="5"><i></i>
								</span>
							</a>
              {%else%}
              <a class = "pic-hidden pic{{loop.index}}" href="#show/{{trend['id']}}">
                <div class="pic " style="background-image: url(static/Zingimages/{{trend['id']}}.jpg)"></div>
                <span>{{trend['name']}}</span>
                <span class="trend-star-rating-x{{loop.index}}">
                  <input type="radio" name="rating" value="1"><i></i>
                  <input type="radio" name="rating" value="2"><i></i>
                  <input type="radio" name="rating" value="3"><i></i>
                  <input type="radio" name="rating" value="4"><i></i>
                  <input type="radio" name="rating" value="5"><i></i>
                </span>
              </a>
								{%endif%}
							{%endfor%}
						</div>
						<div id="popuplar-news-3" class="items">
							{%for top in toprated%}
							{%if loop.index < 4%}
							<a href="#show/{{top['id']}}" class = "pic{{loop.index}}" >
								<div class="pic" style="background-image: url(static/Zingimages/{{top['id']}}.jpg)"></div>
								<span>{{top['name']}}</span>
								<span class="toprated-star-rating-x{{loop.index}}">
								  <input type="radio" name="rating" value="1"><i></i>
								  <input type="radio" name="rating" value="2"><i></i>
								  <input type="radio" name="rating" value="3"><i></i>
								  <input type="radio" name="rating" value="4"><i></i>
								  <input type="radio" name="rating" value="5"><i></i>
								</span>
							</a>
                {%else%}
              <a class = "pic-hidden pic{{loop.index}}" href="#show/{{top['id']}}">
                <div class="pic " style="background-image: url(static/Zingimages/{{top['id']}}.jpg)"></div>
                <span>{{top['name']}}</span>
                <span class="toprated-star-rating-x{{loop.index}}">
                  <input type="radio" name="rating" value="1"><i></i>
                  <input type="radio" name="rating" value="2"><i></i>
                  <input type="radio" name="rating" value="3"><i></i>
                  <input type="radio" name="rating" value="4"><i></i>
                  <input type="radio" name="rating" value="5"><i></i>
                </span>
              </a>
							{%endif%}
							{%endfor%}
						</div>
						<a  class="fa fa-chevron-right toggle-shows-right"></a>
					</div>
					<!--/ popuplar news -->
					
					<div class="grid-row">
						<div class="grid-col grid-col-8">
							<!-- blog list -->
							<div class="blog-list">
								<div class="head">latest posts</div>
								{%for post in blog%}
								{%if loop.index<=5%}
								<div class="item page1">
									<a href="#post/{{post['id']}}" class="pic">
										<img src="static/images/{{post['photo']}}" width="770" height="300" alt="">
									</a>
									<h2><a href="#post/{{post['id']}}">{{post['title']}}</a></h2>
									<p>{{post['descript']}}</p>
									<div class="bar">
										<a href="#post/{{post['id']}}" class="fa fa-share fa-flip-vertical"></a>
										<a href="#post/{{post['id']}}" class="more">more</a>
										<a href="#" class="comments"><i class="fa fa-comment"></i>10</a>
										<div class="date"><i class="fa fa-clock-o"></i>{{post['date']}}</div>
										<i class="fa fa-pencil fa-flip-horizontal"></i>{{post['author']}}
									</div>
								</div>
								{%endif%}
								{%if loop.index>5 and loop.index<=10%}
								<div class="item page2">
									<a href="#post/{{post['id']}}" class="pic">
										<img src="static/images/{{post['photo']}}" width="770" height="300" alt="">
									</a>
									<h2><a href="#post/{{post['id']}}">{{post['title']}}</a></h2>
									<p>{{post['descript']}}</p>
									<div class="bar">
										<a href="#post/{{post['id']}}" class="fa fa-share fa-flip-vertical"></a>
										<a href="#post/{{post['id']}}" class="more">more</a>
										<a href="#" class="comments"><i class="fa fa-comment"></i>10</a>
										<div class="date"><i class="fa fa-clock-o"></i>{{post['date']}}</div>
										<i class="fa fa-pencil fa-flip-horizontal"></i>{{post['author']}}
									</div>
								</div>
								{%endif%}
								{%if loop.index>10 and loop.index<=15%}
								<div class="item page3">
									<a href="#post/{{post['id']}}" class="pic">
										<img src="static/images/{{post['photo']}}" width="770" height="300" alt="">
									</a>
									<h2><a href="#post/{{post['id']}}">{{post['descript']}}</a></h2>
									<p>{{post['content']}}</p>
									<div class="bar">
										<a href="#post/{{post['id']}}" class="fa fa-share fa-flip-vertical"></a>
										<a href="#post/{{post['id']}}" class="more">more</a>
										<a href="#" class="comments"><i class="fa fa-comment"></i>10</a>
										<div class="date"><i class="fa fa-clock-o"></i>{{post['date']}}</div>
										<i class="fa fa-pencil fa-flip-horizontal"></i>{{post['author']}}
									</div>
								</div>
								{%endif%}
								{%if loop.index>15 and loop.index<=20%}
								<div class="item page4">
									<a href="#post/{{post['id']}}" class="pic">
										<img src="static/images/{{post['photo']}}" width="770" height="300" alt="">
									</a>
									<h2><a href="#post/{{post['id']}}">{{post['descript']}}</a></h2>
									<p>{{post['content']}}</p>
									<div class="bar">
										<a href="#post/{{post['id']}}" class="fa fa-share fa-flip-vertical"></a>
										<a href="#post/{{post['id']}}" class="more">more</a>
										<a href="#" class="comments"><i class="fa fa-comment"></i>10</a>
										<div class="date"><i class="fa fa-clock-o"></i>{{post['date']}}</div>
										<i class="fa fa-pencil fa-flip-horizontal"></i>{{post['author']}}
									</div>
								</div>
								{%endif%}
								{%if loop.index>20 and loop.index<=25%}
								<div class="item page5">
									<a href="#post/{{post['id']}}" class="pic">
										<img src="static/images/{{post['photo']}}" width="770" height="300" alt="">
									</a>
									<h2><a href="#post/{{post['id']}}">{{post['descript']}}</a></h2>
									<p>{{post['content']}}</p>
									<div class="bar">
										<a href="#post/{{post['id']}}" class="fa fa-share fa-flip-vertical"></a>
										<a href="#post/{{post['id']}}" class="more">more</a>
										<a href="#" class="comments"><i class="fa fa-comment"></i>10</a>
										<div class="date"><i class="fa fa-clock-o"></i>{{post['date']}}</div>
										<i class="fa fa-pencil fa-flip-horizontal"></i>{{post['author']}}
									</div>
								</div>
								{%endif%}
								{%if loop.index>25 and loop.index<=30%}
								<div class="item page6">
									<a href="#post/{{post['id']}}" class="pic">
										<img src="static/images/{{post['photo']}}" width="770" height="300" alt="">
									</a>
									<h2><a href="#post/{{post['id']}}">{{post['descript']}}</a></h2>
									<p>{{post['content']}}</p>
									<div class="bar">
										<a href="#post/{{post['id']}}" class="fa fa-share fa-flip-vertical"></a>
										<a href="#post/{{post['id']}}" class="more">more</a>
										<a href="#" class="comments"><i class="fa fa-comment"></i>10</a>
										<div class="date"><i class="fa fa-clock-o"></i>{{post['date']}}</div>
										<i class="fa fa-pencil fa-flip-horizontal"></i>{{post['author']}}
									</div>
								</div>
								{%endif%}
								{%if loop.index>30 and loop.index<=35%}
								<div class="item page7">
									<a href="#post/{{post['id']}}" class="pic">
										<img src="static/images/{{post['photo']}}" width="770" height="300" alt="">
									</a>
									<h2><a href="#post/{{post['id']}}">{{post['title']}}</a></h2>
									<p>{{post['descript']}}</p>
									<div class="bar">
										<a href="#post/{{post['id']}}" class="fa fa-share fa-flip-vertical"></a>
										<a href="#post/{{post['id']}}" class="more">more</a>
										<a href="#" class="comments"><i class="fa fa-comment"></i>10</a>
										<div class="date"><i class="fa fa-clock-o"></i>{{post['date']}}</div>
										<i class="fa fa-pencil fa-flip-horizontal"></i>{{post['author']}}
									</div>
								</div>
								{%endif%}
								{%endfor%}
							<!--/ blog list -->
							
							<!-- pager -->
							<div class="pager">

								<a href="#" class="prev fa fa-chevron-left"></a>
								<a href="#page2" class="next fa fa-chevron-right"></a>
							
								
								
							</div>
							<!--/ pager -->
						</div>
						</div>
						
						 <div class="grid-col grid-col-4">
							<!-- widget socials -->
							<!-- <div class="widget widget-socials">
								<div class="head">socialize</div>
								<div class="cont">
									<a href="#" class="fa fa-twitter"></a>
									<a href="#" class="fa fa-pinterest"></a>
									<a href="#" class="fa fa-linkedin"></a>
									<a href="#" class="fa fa-instagram"></a>
									<a href="#" class="fa fa-facebook"></a>
								</div>
							</div> -->
							<!--/ widget socials -->
							
							<!-- widget weather -->
						<!-- 	<div class="widget widget-weather">
								<div class="head">Springfield</div>
								<div class="cont">
									<img src="img/clouds.png" width="104" height="91" alt="">
									<div class="temp">17<span>&nbsp;°C</span></div>
									<p>cloudy<br>12% chance of rain</p>
									<p class="min">MIN:&nbsp;14&nbsp;°C &nbsp;&nbsp;&nbsp; MAX:&nbsp;23&nbsp;°C</p>
									<button type="button">change</button>
								</div>
							</div> -->
							<!--/ widget weather -->
							
							<!-- widget tags -->
							<div class="widget widget-tags">
								<div class="cont">
									<a href="#">Lorem</a>
									<a href="#">Dolorsitamet</a>
									<a href="#">Simpli</a>
									<a href="#">Aliquetanco</a>
									<a href="#">Lectura</a>
									<a href="#">Lorem</a>
									<a href="#">Dolorsi</a>
									<a href="#">Simpli</a>
									<a href="#">Alnisco</a>
								</div>
							</div>
							<!--/ widget tags -->
							
							<!-- widget poll -->
							
							<!--/ widget poll -->
							
							<!-- widget instagram -->
						<!-- 	<div class="widget widget-instagram">
								<div class="head">instagram</div>
								<div class="cont">
									<ul>
										<li><a href="#"><img src="http://placehold.it/103x103" width="103" height="103" alt=""></a></li>
										<li><a href="#"><img src="http://placehold.it/103x103" width="103" height="103" alt=""></a></li>
									<li><a href="#"><img src="http://placehold.it/103x103" width="103" height="103" alt=""></a></li>
										-<li><a href="#"><img src="http://placehold.it/103x103" width="103" height="103" alt=""></a></li>
										<li><a href="#"><img src="http://placehold.it/103x103" width="103" height="103" alt=""></a></li><
										<li><a href="#"><img src="http://placehold.it/103x103" width="103" height="103" alt=""></a></li>
									</ul>
									<a href="#" class="button">follow</a>
								</div>
							</div> -->
							<!--/ widget instagram -->
							
							<!-- widget comments -->
						<!-- 	<div class="widget widget-comments">
								<div class="head">recent comments</div>
								<div class="cont">
									<ul>
										<li><i class="fa fa-comments"></i>John on <a href="#">Lorem ipsum dolor sit amet</a></li>
										<li><i class="fa fa-comments"></i>Sarah on <a href="#">Simpletm slou traip loka poni sekaleo</a></li>
										<li><i class="fa fa-comments"></i>John on <a href="#">Lorem ipsum dolor sit amet consect rej salo</a></li>
										<li><i class="fa fa-comments"></i>John on <a href="#">Lorem ipsum dolor sit amet</a></li>
										<li><i class="fa fa-comments"></i>Sarah on <a href="#">Simpletm slou traip loka poni sekaleo</a></li>
										<li><i class="fa fa-comments"></i>John on <a href="#">Lorem ipsum dolor sit amet consect rej salo</a></li>
									</ul>
								</div>
							</div> -->
							<!--/ widget comments -->
							
							<!-- widget categories -->
						<!-- 	<div class="widget widget-categories">
								<div class="head">categories</div>
								<div class="cont">
									<ul>
										<li><a href="#"><span>129</span>World</a></li>
										<li><a href="#"><span>82</span>Business</a></li>
										<li><a href="#"><span>24</span>Finance</a></li>
										<li><a href="#"><span>48</span>Sports</a></li>
										<li><a href="#"><span>36</span>Technology</a></li>
									</ul>
								</div>
							</div> -->
							<!--/ widget categories -->
							
							<!-- widget popular -->
							<!-- <div id="widget-popular" class="widget widget-popular">
								<div class="head"><a href="#widget-popular-tab1" class="active">popular</a><a href="#widget-popular-tab2">latest</a></div>
								<div class="cont">
									<ul id="widget-popular-tab1" class="active">
										<li>
											<a href="#" class="pic">
												<img src="http://placehold.it/50x50" width="50" height="50" alt="">
											</a>
											<h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
											<p>124 Comments</p>
										</li>
										<li>
											<a href="#" class="pic">
												<img src="http://placehold.it/50x50" width="50" height="50" alt="">
											</a>
											<h4><a href="#">Simpletm slou traip loka poni sekaleo</a></h4>
											<p>68 Comments</p>
										</li>
										<li>
											<a href="#" class="pic">
												<img src="http://placehold.it/50x50" width="50" height="50" alt="">
											</a>
											<h4><a href="#">Lorem loka poni sekaleo ipsum dolor sit amet</a></h4>
											<p>124 Comments</p>
										</li>
										<li>
											<a href="#" class="pic">
												<img src="http://placehold.it/50x50" width="50" height="50" alt="">
											</a>
											<h4><a href="#">Simpletm slou traip loka poni sekaleo</a></h4>
											<p>68 Comments</p>
										</li>
									</ul>
									<ul id="widget-popular-tab2">
										<li>
											<a href="#" class="pic">
												<img src="http://placehold.it/50x50" width="50" height="50" alt="">
											</a>
											<h4><a href="#">Simpletm slou traip loka poni sekaleo</a></h4>
											<p>68 Comments</p>
										</li>
										<li>
											<a href="#" class="pic">
												<img src="http://placehold.it/50x50" width="50" height="50" alt="">
											</a>
											<h4><a href="#">Simpletm slou traip loka poni sekaleo</a></h4>
											<p>68 Comments</p>
										</li>
										<li>
											<a href="#" class="pic">
												<img src="http://placehold.it/50x50" width="50" height="50" alt="">
											</a>
											<h4><a href="#">Lorem loka poni sekaleo ipsum dolor sit amet</a></h4>
											<p>124 Comments</p>
										</li>
										<li>
											<a href="#" class="pic">
												<img src="http://placehold.it/50x50" width="50" height="50" alt="">
											</a>
											<h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
											<p>124 Comments</p>
										</li>
									</ul>
								</div>
							</div> -->
							<!--/ widget popular -->
							
							<!-- widget sponsor -->
							<!-- <div class="widget widget-sponsor">
								<div class="head">our sponsor</div>
								<div class="cont">
									<a href="#"><img src="http://placehold.it/336x280" width="336" height="280" alt=""></a>
								</div>
							</div> -->
							<!--/ widget popular -->
						</div>
					</div>
				</div>
			
			</main>
			<!--/ page content -->
			
			<!-- page footer -->
			<footer class="page-footer">
				<div class="grid-cont">
					<div class="grid-row">
						<div class="grid-col grid-col-2">
							<!-- about -->
							<div class="widget-about">
								<a href="/" class="slogan"><span>Zing.</span></a>
								<a href="/" class="logo logo-alt"><img src="static/chair.png" width="68" height="61" alt=""></a>
							
							</div>
							<!--/ about -->
						</div>
						
						<!-- <div class="grid-col grid-col-3-33"> -->
							<!-- latest tweets -->
						<!-- 	<div class="widget-tweets">
								<h4>Latest Tweets</h4>
								<div class="item">
									<i class="fa fa-twitter"></i>
									<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Version of Lorem Ipsum. Proin gravida <a href="#">#Aenean</a></p>
								</div>
								<div class="bar"><a href="#">@johndoe</a>2 hours ago</div>
							</div> -->
							<!--/ latest tweets -->
						<!-- </div> -->
						
						<div class="grid-col grid-col-3-33">
							<!-- subscribe -->
							<div class="widget-subscribe">
								  <h4>About Zing.</h4>
                <p>Zing aims to please</p>
                <a href="#about" class="more">read more<i class="fa fa-share fa-flip-vertical"></i></a>
							</div>
							<!--/ subscribe -->
						</div>
						
					
				
					</div>
				</div>
				
				<!-- copyrights -->
				<div class="copyrights">
					2015 &copy; All rights reserved to Zing &nbsp;|&nbsp; <a href="contacts.html">Contact Us</a>
				</div>
				<!--/ copyrights -->
			</footer>
			<!--/ page footer -->
			
			<button type="button" id="scroll-top" class="scroll-top fa fa-chevron-up"></button>
		</div>
		<!--/ page -->
		
		<!-- scripts -->
		<script src="static/js/jquery-2.1.1.min.js"></script>
		<script src="static/js/owl.carousel.min.js"></script>
		<script src="static/js/jquery.validate.min.js"></script>
		<script src="static/js/jquery.form.min.js"></script>
		<script src="static/js/main.js"></script>

   		 
   		 
       <script src="static/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script> 
       <script src="static/autocomplete.js"></script>
   		  <script src="static/js/bootstrap.min.js"></script>
    	<script src="static/jquery.ba-hashchange.min.js"></script>
   	 <script src="static/jQuery-File-Upload-9.8.0/js/vendor/jquery.ui.widget.js"></script>
    <script src="static/jQuery-File-Upload-9.8.0/js/jquery.iframe-transport.js"></script>
    <script src="static/jQuery-File-Upload-9.8.0/js/jquery.fileupload.js"></script>
     <script src="static/homepage.js"></script>-
   
    <!--<script src="static/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script> -->
  
	
	</body>
</html>