<!doctype html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    {%block stylesheet%}
    <link href="static/bootstrap-3.3.1/dist/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="static/slick-1.3.11/slick/slick.css"/>
{%endblock%}
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="//cdn.ckeditor.com/4.4.5/full/ckeditor.js"></script>




    <style type="text/css">
   
    

    </style>

</head>

<title>{% block title %}Zing{% endblock %}</title>

<body>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id = "paneltext" style = "text-align: center"class="panel panel-default">
            <div id = "somethingWrong" style = "display: none"></div>
            <div style= "color:white; background:black">
                <br>
                <h2 > Sign in to Zing</h2>
                <br>
                <a style = "background-color: #3B5998; color: white; \"  class="btn btn-default" href="#facebookLogin" >Sign in with Facebook</a>
                <br>
                <br>
                <form class = "form-inline" role = "form" style = "color:white; background:black">
                <div class="form-group" style = "width: 37.5%; color:white; background:black">
                  <input  type="text"  style = "width: 100%" id = "loginEmail"class="form-control" placeholder="Email">
                          </div>
                          <div class="form-group" style = "width: 37.5%; color:white; background:black">
                  <input  type="password" style = "width: 100%" id = "loginPassword" class="form-control" placeholder="Password">
                          </div>
                          <br>
                           <div class="form-group"style = "width: 100%; color:white; background:black"> 
               
                <br>
                <a style = "margin-bottom: 5%"  id = "signin2" class="btn btn-default" href="#signin" >Sign in</a>
                </form>
                </div>
                 </div>
              
                <hr>
                <h2 > Sign up for Zing</h2>
                <br>
                <a style = "background-color: #3B5998; color: white; "  id = "signin2" class="btn btn-default" href="#facebookLogin" >Sign up with Facebook</a>
                <br>    
                Don't worry, we never post without your permission.
                <br>
                <p> or create an account </p>
                <br>
                <form class = "form-inline" role = "form" >
                    <div class="form-group" style = "width: 37.5%">
                        <input  type="text"  style = "width: 100%" id = "newfirst"class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group" style = "width: 37.5%">
                        <input  type="text" style = "width: 100%" id = "newlast"class="form-control" placeholder="Last Name">
                    </div>
                    <br>
                    <div class="form-group"style = "width: 75%"> 
                        <input style = "width: 100%" type="text" id = "newemail" class="form-control" placeholder="Email">
                    </div>
                    <br>
                    <div class="form-group"style = "width: 75%" >
                        <input style = "width: 100%" margin-bottom = "0px" margin-top = "0px"type="password" id = "newpassword" class="form-control" placeholder="Password">
                    </div>
                    <br>
                    <br>
                    <a style = "margin-bottom: 5%"  id = "signin2" class="btn btn-default" href="#signup" >Sign up</a>
                </form>
        </div>
    </div>
</div>
      </div>
    </div>
 




    <div class="row">
        <div id="panelbig" style="width: 100%" class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div id="logopanel" style="width: 100%" class="panel panel-default">
                        <div class="panel-body">
                            <a href="#home">
                                <img src="static/zingheadernew.png" alt="..." class="img-thumbnail">
                            </a>
                        </div>
                    </div>
                    <div id="panela" class="panel panel-default">
                        <div class="panel-body" style="background-color:white">
                            <div id="panelsearch" style="width: 100%; margin-left:0%;" class="panel panel-default">
                                <div class="panel-body">
                                    <input type="text" style="text-align: center;width: 100%" id="rate" class="form-control" placeholder="Find a show" autocomplete="on">
                                    


                                </div>
                            </div>
                           
                                    <div style="background-color:white" id="panelc3" class="panel panel-default">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                              
                        </div>
                    </div>
                </div>


                <div class="col-lg-7 col-md-7 col-sm-7" >
                    <div id="panelheader" style="width: 100%" class="panel panel-default">
                        <div class="panel-body">

                            <span class="btn-group" style="text-align: center; width: 100%  " data-toggle="buttons">
                                <label class="btn btn-primary radios " style="border-radius: 0px; border-color:black">
                                    <input id="toprated" type="radio" name="topbuttons" style="background-color:#e06666" value="Top Rated" checked>Top Rated
                                </label>

                                <label class="btn btn-primary radios " style="border-radius: 0px;  border-color:black;">
                                    <input type="radio" name="topbuttons" style="background-color:#e06666" value="This Week" >This Week
                                </label>
                                <label class="btn btn-primary radios " style="border-radius: 0px;  border-color:black">
                                    <input type="radio" name="topbuttons" style="background-color:#e06666" value="Editor's Picks">Picks
                                </label>

                                <label class="btn btn-primary radios " style="border-radius: 0px;  border-color:black">
                                    <input type="radio" name="topbuttons" style="background-color:#e06666" value="Trending">Trending
                                </label>

                              
                            </span>
                        </div>
                    </div>










                    <div id="panelcenter"  class="panel panel-default">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>





                <div class="col-lg-2 col-md-2 col-sm-2" >

                    <div id="panelheader" style="width: 100%" class="panel panel-default">
                        <div class="panel-body" id="panelheaderuser">



                            {%if useron == "none"%}
                            <a href="#login">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" >
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span id="user">Login</span>
                                </button>
                            </a>
                            {%else%}
                            <div class="dropdown">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>
                                    

                                    <span id="user">{{useron}}</span>

                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href="#logout">Logout</a>
                                    </li>
                                </ul>
                            </div>
                            {%endif%}

                        </div>
                    </div>



                    <div id="panel" class="panel panel-default">
                        <div class="panel-body">
                            <div id="paneldescript" class="panel panel-default">
                                <div class="panel-body">
                                  
                                </div>
                            </div>
                        </div>

                    </div>





                    <div id="panelheader" style="width: 100%" class="panel panel-default">
                        <div class="panel-body">
                            <a href="#about" class="btn btn-default btn-sm " type="button">

                                <span class="glyphicon glyphicon-pencil"></span> About Us
                            </a>
                        </div>
                    </div>
                    {%if adminPrivileges%}
                    <div id="panelheader" style="width: 100%" class="panel panel-default">
                        <div class="panel-body">
                            <a href="#editpage" class="btn btn-default btn-sm " type="button">

                                <span class="glyphicon glyphicon-pencil"></span> Edit Page
                            </a>
                        </div>
                    </div>
                    <div id="panelheader" style="width: 100%" class="panel panel-default">
                        <div class="panel-body">
                            <a href="#updateOutsideArticles" class="btn btn-default btn-sm " type="button">

                                <span class="glyphicon glyphicon-pencil"></span> Update Articles                            </a>
                        </div>
                    </div>

                    {%endif%}

                </div>
            </div>
        </div>
    </div>









    {% block sources %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/jquery.ba-hashchange.min.js"></script>
    <script src="static/jQuery-File-Upload-9.8.0/js/vendor/jquery.ui.widget.js"></script>
    <script src="static/jQuery-File-Upload-9.8.0/js/jquery.iframe-transport.js"></script>
    <script src="static/jQuery-File-Upload-9.8.0/js/jquery.fileupload.js"></script>
    <script src="static/slick-1.3.11/slick/slick.min.js"></script>
    <script src="static/homepage.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58620244-1', 'auto');
  ga('send', 'pageview');

</script>



    {% endblock %}
</body>
