


{%for article in blog%}
{%if loop.index == 1%}
<div id = "panelblog" style = "background-color: white;  border-radius: 0px;"class="panel panel-default">
<div class="panel-body" style = "background-color: white; padding:0;">
<div class = "col-md-5" style = "text-align: center">
<a href = "#post{{article['id']}}"><h1><i>{{article['title']}}</i></h1>
</a>
<p class = "blogauthor">By {{article['author']}}</p>
<p class = "blogdate">{{article['date']}}</p>
<p class = "blogdescript">{{article['descript']}}</p>
<br>
<br>

</div>
<div class = "col-md-7" style = "padding: 0">
<a href = "#post{{article['id']}}"><img style = "width:100%"class = "homepage-image" src = "static/images/{{article['pic']}}"></a>
</div>

</div>
</div>

{%else%}
{%if (loop.index-2)%3 == 0%}
<div class = "row">
{%endif%}

<div class = "col-md-4" >
{%if loop.index%2 == 0 %}
<div id = "panelblog"  class = "postPanel" style = "background-color: white;  border-radius: 0px; border: 5px solid gray;"class="panel panel-default">
{%else%}
<div id = "panelblog"  class = "postPanel" style = "background-color: white;  border-radius: 0px; border: 5px solid #e06666"class="panel panel-default">
{%endif%}
<div class="panel-body" style = "background-color: white; padding:0;">
<a href = "#post{{article['id']}}"><img style = "width:100%"class = "homepage-image" src = "static/images/{{article['pic']}}"></a>
<a href = "#post{{article['id']}}"><h4 class = "blog-post-title">{{article['title']}}</h4>
</a>
<p class = "blogauthor">By {{article['author']}}</p>
<p class = "blogdate">{{article['date']}}</p>
<p class = "blogdescript">{{article['descript']}}</p>



</div>

</div>
</div>
{%endif%}
{%if (loop.index-1)%3 == 0%}
</div>
{%endif%}


{%endfor%}

