<!doctype html>

{%extends "layout.html"%}
{% block title %}Create and Account{% endblock %}
{%block stylesheet%}<link href="../static/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

Create an Account

<form action="/usercreate" method="post">
            Username<input type=text name=username>
            <br>
            Password<input type=password name = password>
            <br> 
            Confirm Password<input type = password name = passwordConfirm>   
            <input type=submit value=create>
            I am a (choose all that apply)
            
        </form>



{%endblock %}


{% block sources %}

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../static/login.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/jquery.ba-hashchange.min.js"></script>

  {% endblock %}
