<!DOCTYPE html>
<html>
	<head>
		<title>Mzine.</title>
		
		<!-- metas -->
		<meta charset="utf-8">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<!--/ metas -->
		
		<!-- styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/owl.carousel.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/color.css">
		<!--/ styles -->
	</head>
	
	<body>
		<!-- page -->
		<div class="page">
			
			<!-- page header -->
			<header class="page-header">
				
				<!-- page header top -->
				<div class="page-header-top">
					
					<div class="grid-cont">
						<div class="grid-row">
							<div class="grid-col grid-col-2">
								<!-- slogan -->
								<a href="index.html" class="slogan"><span>Mzine.</span></a>
								<!--/ slogan -->
							</div>
							
							<div class="grid-col grid-col-10">							
								<!-- secondary nav -->
								<nav class="secondary-nav">
									<ul>
										<li>
											<a href="index.html" class="active">home</a>
										</li>
										<li>
											<a href="blog-list.html">blog</a>
										</li>
										<li>
											<a href="contacts.html">contacts</a>
										</li>
										<li>
											<a href="#" class="alt">buy theme</a>
										</li>
									</ul>
								</nav>
								<!--/ secondary nav -->
							</div>
						</div>
					</div>
					
				</div>
				<!-- page header top -->
				
				<!-- page header middle -->
				<div class="page-header-middle">
					
					<div class="grid-cont">
						<div class="grid-row">
							<div class="grid-col grid-col-2">
								<!-- logo -->
								<a href="index.html" class="logo"><img src="http://placehold.it/68x61" width="68" height="61" alt=""></a>
								<!--/ logo -->
							</div>
							
							<div class="grid-col grid-col-7">
								<!-- main nav -->
								<nav id="main-nav" class="main-nav">
									<a href="#" class="switcher"><i class="fa fa-bars"></i></a>
									<ul>
										<li class="has-dropdown">
											<a href="#">world</a>
											<div class="dropdown dropdown-large">
												<div class="grid-row">
													<div class="grid-col grid-col-3">
														<ul class="subnav">
															<li class="icon"><i class="fa fa-globe"></i></li>
															<li><a href="#">Asia</a></li>
															<li><a href="#">America</a></li>
															<li><a href="#">Africa</a></li>
															<li><a href="#">Europe</a></li>
															<li><a href="#">Latin America</a></li>
														</ul>
													</div>
													<div class="grid-col grid-col-9">
														<div class="latest">
															<p>
																<a href="#" class="fa fa-chevron-right next"></a>
																<a href="#"  class="fa fa-chevron-left prev"></a>
																Latest posts in category
															</p>
															<div class="carousel">
																<div class="item">
																	<a href="#" style="background-image: url(http://placehold.it/308x105)">
																		<h4>Lorem ipsum dolor sit amet seco laopir</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div>
																<div class="item">
																	<a href="#" style="background-image: url(http://placehold.it/308x105)">
																		<h4>Lorem ipsum dolor sit amet seco laopir</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div>
																<div class="item">
																	<a href="#" style="background-image: url(http://placehold.it/308x105)">
																		<h4>Lorem ipsum dolor sit amet seco laopir</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div>
																<div class="item">
																	<a href="#" style="background-image: url(http://placehold.it/308x105)">
																		<h4>Lorem ipsum dolor sit amet seco laopir</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div>
																<div class="item">
																	<a href="#" style="background-image: url(http://placehold.it/308x105)">
																		<h4>Lorem ipsum dolor sit amet seco laopir</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div>
																<div class="item">
																	<a href="#" style="background-image: url(http://placehold.it/308x105)">
																		<h4>Lorem ipsum dolor sit amet seco laopir</h4>
																		<div><i class="fa fa-comment"></i>124 Comments</div>
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="has-dropdown has-dropdown-alt">
											<a href="#">business</a>
											<div class="dropdown dropdown-xlarge">
												<div class="latest latest-alt">
													<div class="item">
														<a href="#" style="background-image: url(http://placehold.it/278x135)">
															<h4>Lorem ipsum dolor sit amet seco laopir</h4>
															<div><i class="fa fa-comment"></i>124 Comments</div>
														</a>														
													</div><!--
													--><div class="item">
														<a href="#" style="background-image: url(http://placehold.it/278x135)">
															<h4>Lorem ipsum dolor sit amet seco laopir</h4>
															<div><i class="fa fa-comment"></i>124 Comments</div>
														</a>														
													</div><!--
													--><div class="item">
														<a href="#" style="background-image: url(http://placehold.it/278x135)">
															<h4>Lorem ipsum dolor sit amet seco laopir</h4>
															<div><i class="fa fa-comment"></i>124 Comments</div>
														</a>														
													</div><!--
													--><div class="item">
														<a href="#" style="background-image: url(http://placehold.it/278x135)">
															<h4>Lorem ipsum dolor sit amet seco laopir</h4>
															<div><i class="fa fa-comment"></i>124 Comments</div>
														</a>														
													</div>
												</div>
											</div>
										</li>
										<li class="has-dropdown">
											<a href="#">pages</a>
											<div class="dropdown">
												<ul class="subnav">
													<li><a href="index.html">Magazine layout</a></li>
													<li><a href="index-alt.html">Classic Blog layout</a></li>
													<li><a href="blog-author.html">Author page</a></li>
													<li><a href="page-404.html">404 page</a></li>
													<li><a href="contacts.html">Contacts</a></li>
													<li class="has-dropdown">
														<a href="#"><i class="fa fa-chevron-right"></i>Dropdown</a>
														<div class="dropdown dropdown-left">
															<ul class="subnav">
																<li><a href="#">Item 1</a></li>
																<li><a href="#">Item 2</a></li>
																<li><a href="#">Item 3</a></li>
															</ul>
														</div>
													</li>
												</ul>
											</div>
										</li>
										<li class="has-dropdown">
											<a href="#">blog</a>
											<div class="dropdown">
												<ul class="subnav">
													<li><a href="blog-list.html">List (1 col)</a></li>
													<li><a href="blog-grid-2.html">Grid (2 cols)</a></li>
													<li><a href="blog-grid-3.html">Grid (3 cols)</a></li>
													<li><a href="blog-grid-4.html">Grid (4 cols)</a></li>
													<li><a href="blog-author.html">Author page</a></li>
												</ul>
											</div>
										</li>
										<li class="has-dropdown">
											<a href="#">posts</a>
											<div class="dropdown">
												<ul class="subnav">
													<li><a href="blog-post.html">Regular</a></li>
													<li><a href="blog-post-audio.html">Audio</a></li>
													<li><a href="blog-post-gallery.html">Gallery</a></li>
													<li><a href="blog-post-vimeo.html">Video (vimeo)</a></li>
													<li><a href="blog-post-youtube.html">Video (youtube)</a></li>
												</ul>
											</div>
										</li>
									</ul>
								</nav>
								<!--/ main nav -->
							</div>
							
							<div class="grid-col grid-col-3">
								<!-- search -->
								<form action="#" class="search">
									<input type="text" placeholder="search">
									<button type="submit" class="fa fa-search"></button>
								</form>
								<!--/ search -->
							</div>
						</div>
					</div>					
				</div>
				<div></div>
				<!-- page header middle -->
				
				<!-- page header bottom -->
				<div class="page-header-bottom">
					
					<div class="grid-cont">
						<!-- breaking news -->
						<div class="breaking-news">
							<div class="grid-row">
								<div class="grid-col grid-col-2">
									<p><strong>breaking</strong></p>
								</div>
								
								<div class="grid-col grid-col-10">
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></p>
								</div>
							</div>
						</div>
						<!--/ breaking news -->
					</div>
					
				</div>
				<!-- page header bottom -->
				
			</header>
			<!--/ page header -->
			
			<!-- page content -->
			<main class="page-content">
				<!-- error 404 -->
				<div class="error-404">
					<div class="grid-cont">
						<form action="#">
							<p>This page doesn’t exist<br>We may’ve broke something<br>or you can’t type.</p>
							<i class="fa fa-search"></i>
							<input type="text" placeholder="Enter your search term and hit enter">
						</form>
					</div>
				</div>
				<!--/ error 404 -->
			</main>
			<!--/ page content -->
			
			<!-- page footer -->
			<footer class="page-footer">
				<div class="grid-cont">
					<div class="grid-row">
						<div class="grid-col grid-col-2">
							<!-- about -->
							<div class="widget-about">
								<a href="index.php" class="slogan"><span>Mzine.</span></a>
								<a href="index.php" class="logo"><img src="http://placehold.it/68x61" width="68" height="61" alt=""></a>
								<h4>About Mzine.</h4>
								<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
								<a href="#" class="more">read more<i class="fa fa-share fa-flip-vertical"></i></a>
							</div>
							<!--/ about -->
						</div>
						
						<div class="grid-col grid-col-3-33">
							<!-- latest tweets -->
							<div class="widget-tweets">
								<h4>Latest Tweets</h4>
								<div class="item">
									<i class="fa fa-twitter"></i>
									<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Version of Lorem Ipsum. Proin gravida <a href="#">#Aenean</a></p>
								</div>
								<div class="bar"><a href="#">@johndoe</a>2 hours ago</div>
							</div>
							<!--/ latest tweets -->
						</div>
						
						<div class="grid-col grid-col-3-33">
							<!-- subscribe -->
							<div class="widget-subscribe">
								<h4>Subscribe</h4>
								<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean gravida aliquet</p>
								<form action="#">
									<div class="input"><input type="text"><i class="fa fa-envelope-o"></i></div>
									<button type="submit">subscribe to news</button>
								</form>
							</div>
							<!--/ subscribe -->
						</div>
						
						<div class="grid-col grid-col-3-33">
							<!-- photos -->
							<div class="widget-photos">
								<h4>Latest Photos</h4>
								<ul>
									<li>
										<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt=""></a>
									</li><!--
									--><li>
										<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt=""></a>
									</li><!--
									--><li>
										<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt=""></a>
									</li><!--
									--><li>
										<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt=""></a>
									</li><!--
									--><li>
										<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt=""></a>
									</li><!--
									--><li>
										<a href="#"><img src="http://placehold.it/80x80" width="80" height="80" alt=""></a>
									</li>
								</ul>
							</div>
							<!--/ photos -->
						</div>
						
						<div class="grid-col grid-col-10">
							<!-- nav -->
							<nav class="widget-nav">
								<ul>
									<li>
										<a href="blog-list.php">WORLD</a>
										<ul>
											<li><a href="blog-list.php">Asia</a></li>
											<li><a href="blog-list.php">America</a></li>
											<li><a href="blog-list.php">Africa</a></li>
											<li><a href="blog-list.php">Europe</a></li>
											<li><a href="blog-list.php">Latin America</a></li>
										</ul>
									</li><!--
									--><li>
										<a href="blog-list.php">BUSINESS</a>
										<ul>
											<li><a href="blog-list.php">Economy</a></li>
											<li><a href="blog-list.php">Stock Market</a></li>
											<li><a href="blog-list.php">Wallstreet</a></li>
											<li><a href="blog-list.php">Oil Prices</a></li>
											<li><a href="blog-list.php">Central Bank</a></li>
										</ul>
									</li><!--
									--><li>
										<a href="blog-list.php">FINANCE</a>
										<ul>
											<li><a href="blog-list.php">Lorem</a></li>
											<li><a href="blog-list.php">Ipsum</a></li>
											<li><a href="blog-list.php">Dolor</a></li>
											<li><a href="blog-list.php">Sit</a></li>
											<li><a href="blog-list.php">Ameta</a></li>
										</ul>
									</li><!--
									--><li>
										<a href="index.php">PAGES</a>
										<ul>
											<li><a href="index.php">Magazine layout</a></li>
											<li><a href="index-alt.php">Blog layout</a></li>
											<li><a href="blog-author.php">Author page</a></li>
											<li><a href="page-404.php">404 page</a></li>
											<li><a href="contacts.php">Contacts</a></li>
										</ul>
									</li><!--
									--><li>
										<a href="blog-list.php">BLOG</a>
										<ul>
											<li><a href="blog-list.php">List (1 col)</a></li>
											<li><a href="blog-grid-2.php">Grid (2 cols)</a></li>
											<li><a href="blog-grid-3.php">Grid (3 cols)</a></li>
											<li><a href="blog-grid-4.php">Grid (4 cols)</a></li>
											<li><a href="blog-author.php">Author page</a></li>
										</ul>
									</li><!--
									--><li>
										<a href="blog-post.php">POSTS</a>
										<ul>
											<li><a href="blog-post.php">Regular</a></li>
											<li><a href="blog-post-audio.php">Audio</a></li>
											<li><a href="blog-post-gallery.php">Gallery</a></li>
											<li><a href="blog-post-vimeo.php">Video (vimeo)</a></li>
											<li><a href="blog-post-youtube.php">Video (youtube)</a></li>
										</ul>
									</li>
								</ul>
							</nav>
							<!--/ nav -->
						</div>
					</div>
				</div>
				
				<!-- copyrights -->
				<div class="copyrights">
					2015 &copy; All rights reserved to WEGODESIGN &nbsp;|&nbsp; <a href="contacts.php">Contact Us</a>
				</div>
				<!--/ copyrights -->
			</footer>
			<!--/ page footer -->
			
			<button type="button" id="scroll-top" class="scroll-top fa fa-chevron-up"></button>
		</div>
		<!--/ page -->
		
		<!-- scripts -->
		<script src="js/jquery-2.1.1.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.form.min.js"></script>
		<script src="js/main.js"></script>
		<!--/ scripts -->
	</body>
</html>