<!doctype html>

{%extends "layout.html"%}
{% block title %}{{persondata[0]['name']}}{% endblock %}
{%block stylesheet%}<link href="../static/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}


{% block contentA %}
<div id = "paneltext"class="panel panel-default">
              <div class = "panel-body">
<h2 id = "showname">{{persondata[0]['actorname']}}</h2>

<br>
<br>
{{persondata[0]['bio']}}
<br>
<br>

{% for roles in roles%}
<a href = "/show/{{roles['name']}}"> {{roles['name']}}</a> --> {{roles['role']}} 
<br>
{%endfor %}
<br>
<div id = "panelpic"style = "background-color:rgba(167, 160, 160, 0.31)"class="panel panel-default">
              <div class = "panel-body">
<img id = "pic" src="../static/actorpics/{{persondata[0]['pic']}}"> 
</div>
</div>

</div>
</div>
{%endblock %}

{% block sources %}

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../static/person.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/jquery.ba-hashchange.min.js"></script>

  {% endblock %}
