



<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <img style = "width: 100%" src = "static/images/{{article['pic']}}">
      </div>
    </div>
  </div>
</div>

<div class = "row">
<div class = "col-md-4">
<div id = "postsidebar" style = "background-color: white"class="panel panel-default">

<div class="panel-body">
{%for tags in article['tags']%}
<a  href = "#show/{{tags['name']}}" >
<img class ="sidebar-img" src = "static/Zingimages/{{tags['id']}}.jpg" width = "100%">

</a>
<br>
<br>
<br>
<a href = "#venue/{{tags['venueid']}}"> {{tags['venue']}}</a>
<br>
<br>
<br>
{%endfor%}
</div>
</div>
</div>
<div class = "col-md-8">
<div id = "post" style = "background-color: white"class="panel panel-default">
<div class = "panel-header" style = "padding: 2%;text-align: center; background:whitesmoke; border-bottom: 4px solid #e06666">
<h1>{{article['title']}}</h1>
<h4>{{article['author']}}</h4>
<h4>{{article['date']}}</h4>
</div>
<div class="panel-body" style = "4px solid #e06666">
<div class = "post-first-para" style = "font-size: 13pt;">
{{firstparagraph}}
</div>
<a  data-toggle="modal" data-target="#imageModal" ><img style = "float:right; margin: 6%" class = "homepage-image" src = "static/images/{{article['pic']}}"></a>
<div class = "post-article" >
{{article['article']}}
</div>
</div>
</div>
</div>
</div>



