<div class = "post-first-para" style = "font-size: 13pt;">
{{firstparagraph}}
</div>
{%if article['pic'] == ''%}
{%else%}
<a  data-toggle="modal" data-target="#imageModal" ><img style = "float:right; margin: 6%" class = "homepage-image" src = "static/images/{{article['pic']}}"></a>
{%endif%}
<div class = "post-article" >
{{article['article']}}
</div>
</div>
</div>
</div>
<div class = "col-md-3">
<div id = "postsidebar" style = "background-color: whitesmoke; border: 6px double #e06666; box-shadow: rgba(224, 102, 102, 0.15098) 0px 6px 6px 0px;"class="panel panel-default">
 <div class = "panel-heading">
  <h3>In today's post...</h3>
  </div>
<div class="panel-body">
{%for tags in article['tags']%}
<div><a  class = "sidebar-link" href = "#show/{{tags['id']}}" >
<img class ="sidebar-img" src = "static/Zingimages/{{tags['id']}}.jpg" width = "100%">
<h3 class = "mouseOverText" >{{tags['name']}}</h3>
</a>
</div>
<br>
<br>


{%endfor%}
</div>
</div>



<div id = "postsidebar" style = "background-color: whitesmoke; border: 6px double #e06666; box-shadow: rgba(224, 102, 102, 0.15098) 0px 6px 6px 0px;"class="panel panel-default">
<div class = "panel-heading">
  <h3>Going back..</h3>
  </div>
<div class="panel-body">
{% for post in blog %}
<div><a  class = "sidebar-link" href = "#post{{post['id']}}" >
<img class ="sidebar-img" src = "static/images/{{post['pic']}}" width = "100%">
<h3 class = "mouseOverText" >{{post['title']}}</h3>
</a>
</div>
<br>
<br>