
<head>
		   <link href="../static/bootstrap-3.3.1/dist/css/bootstrap.css" rel="stylesheet">
<script src="../static/js/jquery-2.1.1.min.js"></script>
   		  <script src="../static/js/bootstrap.min.js"></script>

		   </head>

<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         <h3>Please enter a new password.</h3>

         <div class="form-group password-form" style = "">
         <input  type="password"  id = "reset1" class="form-control" placeholder="Password">
         </div>
         <div class="form-group password-form" style = "">
         <input  type="password"  id = "reset2" class="form-control" placeholder="Confirm Password">
         </div>
         <div class="form-group" style = " "> 
                        <br>
                        <a style = ""  id = "resetButton" class="btn btn-default" >Reset Password</a>
        </div>
        </div>
    </div>
</div>
</div>
</div>
<script> 
jQuery(document).on("ready",function(){
	$('#resetModal').modal();
	$('#resetButton').on("click",function(){
		reset1 = $('#reset1').val()
		reset2 = $('#reset2').val()
	 	$.ajax({
        	type:"POST",
        	url:"/reset",
        	data:
        	{reset1:reset1,
        	reset2:reset2
        	},
        	success: home
    	})
	})

})
function home(data){
	if( data =="passwords do not match"){
		$('.modal-body').append("Passwords do not match.")
	}else{
	window.location.pathname =""
	

}
}
</script>