<style type="text/css">
{%for show in shows%}
.homepage-star-rating-x{{loop.index}} {
  margin-left: 10%;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 150px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.homepage-star-rating-x{{loop.index}} i {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: {{show['rating']}}%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.homepage-star-rating-x{{loop.index}} input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
{%endfor%}
</style>

<div style = "border: 4px solid gray; background: whitesmoke" id = "paneltext"class="panel panel-default">
  <div class = "panel-heading panel-blog-heading">
  <div class = "row">
  <div style = "border-right: 8px dashed #e06666"class = "col-md-5">
  <h1 ><span >The PhillyZing Blog</span></h1>
<h4><i>a daily diary of the theater scene</i></h4>
</div>
<div style ="text-align:center" class = "col-md-7">
  <h1 ><span ><h1><u>{{article['title']}}</u></h1></span></h1>

</div>
</div>
</div>
 <div style = "border-bottom: 4px solid gray; display:none; background:white"id = "zing-blog"class = "panel-body">


<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <img style = "width: 100%" src = "static/images/{{article['pic']}}">
      </div>
    </div>
  </div>
</div>

<div class = "row">

<div class = "col-md-9">
<div id = "post" style = "background-color: white; box-shadow: rgba(2, 0, 0, 0.35098) 0px 6px 6px 0px;"class="panel panel-default">
<div class="panel-body" >
<div class = "post-first-para" style = "font-size: 13pt;">
{{firstparagraph}}
</div>
{%if article['pic'] == ''%}
{%else%}
<a  data-toggle="modal" data-target="#imageModal" ><img style = "float:right; margin: 6%" class = "homepage-image" src = "static/images/{{article['pic']}}"></a>
{%endif%}
<div class = "post-article" >
{{article['article']}}
</div>
</div>
</div>
</div>
<div class = "col-md-3">
<div id = "postsidebar" style = "background-color: whitesmoke; border: 6px double #e06666; box-shadow: rgba(224, 102, 102, 0.15098) 0px 6px 6px 0px;"class="panel panel-default">
 <div class = "panel-heading">
  <h3>In today's post...</h3>
  </div>
<div class="panel-body">
{%for tags in article['tags']%}
<div><a  class = "sidebar-link" href = "#show/{{tags['id']}}" >
<img class ="sidebar-img" src = "static/Zingimages/{{tags['id']}}.jpg" width = "100%">
<h3 class = "mouseOverText" >{{tags['name']}}</h3>
</a>
</div>
<br>
<br>


{%endfor%}
</div>
</div>



<div id = "postsidebar" style = "background-color: whitesmoke; border: 6px double #e06666; box-shadow: rgba(224, 102, 102, 0.15098) 0px 6px 6px 0px;"class="panel panel-default">
<div class = "panel-heading">
  <h3>Going back..</h3>
  </div>
<div class="panel-body">
{% for post in blog %}
<div><a  class = "sidebar-link" href = "#post{{post['id']}}" >
<img class ="sidebar-img" src = "static/images/{{post['pic']}}" width = "100%">
<h3 class = "mouseOverText" >{{post['title']}}{{post['descript']}}</h3>
</a>
</div>
<br>
<br>


{%endfor%}
</div>
</div>
</div>
</div>
</div>
</div>

<!-- 
<div class = "row" id = "more-articles"style = "padding-left:10%; padding-right:10%">
<div class = "slick">
{% for post in blog %}
{%if loop.index ==2%}
<div style = "text-align:center" class = "blog-homepage-middle col-md-4">
{%else%}
<div style = "text-align:center" class = "col-md-4">
{%endif%}
<a href = "#post{{post['id']}}"><h2 >{{post['title']}}</h2></a>
{{post['descript']}}
<a href = "#post{{post['id']}}"><img style = "width:100%"class = "homepage-image" src = "static/images/{{post['pic']}}"></a>
</div>
{%endfor%}
</div>
</div>
</div> -->


<div style = "border: 4px solid gray; background: whitesmoke" id = "paneltext"class="panel panel-default">
  <div class = "panel-heading panel-review-heading">
  <div class = "row">
  <div style = "border-right: 8px dashed #e06666"class = "col-md-5">
  <h1 ><span >Around Philadelphia</span></h1>
<h4><i>an aggregation of theater reviews from leading critics and publications</i></h4>
</div>
<div style ="text-align:center" class = "col-md-7">
  <h1 ><span ><h1><u>{{article['title']}}</u></h1></span></h1>

</div>
</div>
</div>
 <div style = "border-bottom: 4px solid gray; display:none; background:white"id = "zing-reviews"class = "panel-body">


<div class = "row">

<div class = "col-md-2" style = "text-align: center; border-right: 2px double gray">
<img class = "website-thumb" src = "../static/images/logos/bsr.png">
{%for bsr in bsr%}
<a href = "{{bsr['link']}}"><span style = "padding-left:3%"> {{bsr['title']}}
<hr>
<img class ="sidebar-img" src = "static/Zingimages/{{bsr['showid']}}.jpg" width = "100%">
</span></a>

<hr>
<hr>
{%endfor%}
</div>
<div class = "col-md-2" style = "text-align: center; border-right: 2px double gray">
<img class = "website-thumb" src = "../static/images/logos/phindie.jpg">
{%for phin in phindie%}
<a href = "{{phin['link']}}"><span style = "padding-left:3%"> {{phin['title']}}</span></a>

<hr>

{%endfor%}
</div>
<div class = "col-md-2" style = "text-align: center; border-right: 2px double gray">
<img class = "website-thumb" src = "../static/images/logos/pw.jpg">
{%for pw in pw%}
<a href = "{{pw['link']}}"><span style = "padding-left:3%"> {{pw['title']}}</span></a>

<hr>

{%endfor%}
</div>
<div class = "col-md-2" style = "text-align: center; border-right: 2px double gray">
<img class = "website-thumb"src = "../static/images/logos/citypaper.png">
{%for city in citypaper%}
<a href = "{{city['link']}}"><span style = "padding-left:3%"> {{city['title']}}</span></a>

<hr>

{%endfor%}
</div>
<div class = "col-md-2" style = "text-align: center; border-right: 2px double gray" >
<img class = "website-thumb"src = "../static/images/logos/shapiro.jpg">
{%for shap in shapiro%}
<a href = "{{shap['link']}}"><span style = "padding-left:3%"> {{shap['title']}}</span></a>

<hr>

{%endfor%}
</div>
<div class = "col-md-2" style = "text-align: center;" >
<img class = "website-thumb" src = "../static/images/logos/inq.png">
{%for inq in inq%}
<a href = "{{inq['link']}}"><span style = "padding-left:3%"> {{inq['title']}}</span></a>

<hr>

{%endfor%}
</div>
</div>

</div>
</div>
</div>

<div style = "border: 4px solid gray; background: whitesmoke" id = "paneltext"class="panel panel-default">
  <div class = "panel-heading panel-tickets-heading">
  <div class = "row">
  <div style = "border-right: 8px dashed #e06666"class = "col-md-5">
  <h1 ><span >Tickets</span></h1>
<h4><i>Click Here for the Cheapest seats in Town</i></h4>
</div>
<div style ="text-align:center" class = "col-md-7">
  <h1 ><span ><h1><u>{{article['title']}}</u></h1></span></h1>

</div>
</div>
</div>
 
</div>




<div style = "border: 4px solid gray; background: whitesmoke" id = "paneltext"class="panel panel-default">
  <div class = "panel-heading panel-venue-heading">
  <div class = "row">
  <div style = "border-right: 8px dashed #e06666"class = "col-md-5">
  <h1 ><span >Philadelphia Theaters</span></h1>
<h4><i>an aggregation of theater reviews from leading critics and publications</i></h4>
</div>
<div style ="text-align:center" class = "col-md-7">
  <h1 ><span ><h1><u>{{article['title']}}</u></h1></span></h1>

</div>
</div>
</div>
 <div style = "border-bottom: 4px solid gray; display:none; background:white"id = "zing-venues"class = "panel-body">


<div class = "row">

{%for venue in venues%}
{%if (loop.index + 2)%4 == 0%}
<div  class = "col-md-3"  style ="text-align:center">
{%else%}
<div  class = "col-md-3" style ="text-align:center">
{%endif%}
<a href = "#venue/{{venue['id']}}" >{{venue['name']}}</a>
<hr>
</div>
{%endfor%}
</div>

</div>
</div>
</div>

<div style = "border: 4px solid gray; background: whitesmoke" id = "paneltext"class="panel panel-default">
  <div class = "panel-heading panel-shows-heading">
  <div class = "row">
  <div style = "border-right: 8px dashed #e06666"class = "col-md-5">
  <h1 ><span >Philadelphia Shows</span></h1>
<h4><i>an aggregation of shows in Philadelphia</i></h4>
</div>
<div style ="text-align:center" class = "col-md-7">
  <h1 ><span ><h1><u>{{article['title']}}</u></h1></span></h1>

</div>
</div>
</div>
 <div style = "border-bottom: 4px solid gray; display:none; background:white"id = "zing-shows"class = "panel-body">


<div class = "row">

{%for show in shows%}
{%if (loop.index + 2)%4 == 0%}
<div  class = "col-md-3"  style ="text-align:center">
{%else%}
<div  class = "col-md-3" style ="text-align:center">
{%endif%}
<div><a  class = "sidebar-link" href = "#show/{{show['id']}}" >
<img class ="sidebar-img" src = "static/Zingimages/{{show['id']}}.jpg" width = "100%">
<h3 class = "mouseOverText" >{{show['name']}}<br>
{%if show['rating'] %}
<span id = "starsspot"class="homepage-star-rating-x{{loop.index}}" >
  <input type="radio" name="rating" value="1"><i></i>
  <input type="radio" name="rating" value="2"><i></i>
  <input type="radio" name="rating" value="3"><i></i>
  <input type="radio" name="rating" value="4"><i></i>
  <input type="radio" name="rating" value="5"><i></i>
</span>
{%endif%}
</h3>
</a>
</div>
<!-- {%for review in show['reviews']%}
<a href = "{{review[1]}}">{{review[0]}}</a>
<hr>
{%endfor%} -->
<hr>
</div>
{%endfor%}
</div>

</div>
</div>
</div>





