<style type="text/css">
{%for show in shows%}
.homepage-star-rating-x{{loop.index}} {
  margin-left: 10%;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 100px;
  height: 20px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.homepage-star-rating-x{{loop.index}} i {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: {{show['rating']}}%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.homepage-star-rating-x{{loop.index}} input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
{%endfor%}
</style>

<div style = "border: 4px solid gray; background: whitesmoke" id = "paneltext"class="panel panel-default">
  <div class = "panel-heading panel-blog-heading">
  <div class = "row">
  <div style = "border-right: 8px dashed #e06666"class = "col-md-6">
  <h1 ><span >The PhillyZing Blog</span></h1>
<h4><i>a daily diary of the theater scene</i></h4>
</div>
<div style ="text-align:center" class = "col-md-6">
  
</div>
</div>
</div>
 <div style = "border-bottom: 4px solid gray; display:none; background:white"id = "zing-blog"class = "panel-body">

{% if article|length >0%}
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <img style = "width: 100%" src = "static/images/{{article['pic']}}">
      </div>
    </div>
  </div>
</div>
{%endif%}

<div class = "row">

<div class = "col-md-9">
<div id = "post" style = "background-color: white; box-shadow: rgba(2, 0, 0, 0.35098) 0px 6px 6px 0px;"class="panel panel-default">
<div class = "panel-heading" style = "border-bottom: 2px solid #e06666;">
<span ><h2><i>{{article['title']}}</i></h2></span>
<i>{{article['author']}}</i>
</div>
<div class="panel-body" >
<div class = "post-first-para" style = "font-size: 13pt;">
{{firstparagraph}}
</div>
{%if article|length>0%}
<a  data-toggle="modal" data-target="#imageModal" ><img style = "float:right; margin: 6%" class = "homepage-image" src = "static/images/{{article['pic']}}"></a>
{%else%}
{%endif%}
<div class = "post-article" >
{{article['article']}}
</div>
</div>
</div>
</div>
<div class = "col-md-3">
{%if article['tags']|length >0%}
<div id = "postsidebar" style = "background-color: whitesmoke; border: 6px double #e06666; box-shadow: rgba(224, 102, 102, 0.15098) 0px 6px 6px 0px;"class="panel panel-default">
 <div class = "panel-heading">
  <h3>In today's post...</h3>
  </div>
<div class="panel-body">
{%for tags in article['tags']%}

<div><a  class = "sidebar-link" href = "#show/{{tags['id']}}" >
<img class ="sidebar-img" src = "static/Zingimages/{{tags['id']}}.jpg" width = "100%">
<h3 class = "mouseOverText" >{{tags['name']}}</h3>
</a>
</div>
<br>
<br>


{%endfor%}
</div>
</div>
{%endif%}



<div id = "postsidebar" style = "background-color: whitesmoke; border: 6px double #e06666; box-shadow: rgba(224, 102, 102, 0.15098) 0px 6px 6px 0px;"class="panel panel-default">
<div class = "panel-heading">
  <h3>Going back..</h3>
  </div>
<div class="panel-body">
{% for post in blog %}
<div><a  class = "sidebar-link" href = "#post{{post['id']}}" >
<img class ="sidebar-img" src = "static/images/{{post['pic']}}" width = "100%">
<h3 class = "mouseOverText" >{{post['title']}}</h3>
</a>
</div>
<br>
<br>


{%endfor%}
</div>
</div>
</div>
</div>
</div>
</div>

<!-- 
<div class = "row" id = "more-articles"style = "padding-left:10%; padding-right:10%">
<div class = "slick">
{% for post in blog %}
{%if loop.index ==2%}
<div style = "text-align:center" class = "blog-homepage-middle col-md-4">
{%else%}
<div style = "text-align:center" class = "col-md-4">
{%endif%}
<a href = "#post{{post['id']}}"><h2 >{{post['title']}}</h2></a>
{{post['descript']}}
<a href = "#post{{post['id']}}"><img style = "width:100%"class = "homepage-image" src = "static/images/{{post['pic']}}"></a>
</div>
{%endfor%}
</div>
</div>
</div> -->


<div style = "border: 4px solid gray; background: whitesmoke" id = "paneltext"class="panel panel-default">
  <div class = "panel-heading paneltransition">
  <div class = "row">
  <div style = "border-right: 8px dashed #e06666"class = "col-md-7 panel-review-heading">
  <h1 ><span >Around Philadelphia</span></h1>
<h4><i>an aggregation of theater reviews from leading critics and publications</i></h4>
</div>
<div style ="text-align:center" class = "col-md-5 newDots">
  <h1 ><span ><h1><u></u></h1></span></h1>

</div>
</div>
</div>
 <div style = "border-bottom: 4px solid gray; display:none; background:white"id = "zing-reviews"class = "panel-body">

<div class = "slickReviewsSmall">
{%for review in reviews%}
<div class = "row">
<div class = "col-xs-6 reviewPhoneText">
<a href = "{{review['link']}}"><span > {{review['title']}}</span></a>
</div>
<div class = "col-xs-6">
<a class="sidebar-link" href = "#show/{{review['showid']}}"><img class ="sidebar-img" src = "static/Zingimages/{{review['showid']}}.jpg" width = "100%">
<h5 class="mouseOverText" style="display: none;">{{review['showname']}}</h5></a>
</div>
</div>
<hr>
<hr>
{%endfor%}
</div>




<div class = "slickReviews">

<div style = "text-align: center;">

{%for bsr in bsr%}

<div class = "col-md-6 reviewCol">
<div class = "panel panel-default oneReview">
<div class = "panel-heading">
<h4><a target = "_blank" href = "{{bsr['link']}}"><span > {{bsr['title']}}</span></a></h4>
</div>
<div class = "panel-body panel-review-pic">
<a class="sidebar-link" href = "#show/{{bsr['showid']}}"><img class ="sidebar-img" data-lazy = "static/Zingimages/{{bsr['showid']}}.jpg" width = "100%">
<h5 class="mouseOverText" style="display: none;">{{bsr['showname']}}</h5></a>
</div>
</div>
</div>
{%endfor%}
</div>

<div  style = "text-align: center; ">

{%for phin in phindie%}

<div class = "col-md-6 reviewCol">
<div class = "panel panel-default oneReview">
<div class = "panel-heading">
<h4><a  target = "_blank" href = "{{phin['link']}}"><span > {{phin['title']}}</span></a></h4>

</div>
<div class = "panel-body panel-review-pic">
<a class="sidebar-link" href = "#show/{{phin['showid']}}"><img class ="sidebar-img" data-lazy = "static/Zingimages/{{phin['showid']}}.jpg" width = "100%">
<h5 class="mouseOverText" style="display: none;">{{phin['showname']}}</h5></a>
</div>
</div>
</div>

{%endfor%}
</div>
{% if pw|length>0%}
<div  style = "text-align: center; ">


{%for pw in pw%}


<div class = "col-md-6 reviewCol">
<div class = "panel panel-default oneReview">
<div class = "panel-heading">
<h4><a target = "_blank" href = "{{pw['link']}}"><span> {{pw['title']}}</span></a></h4>
<div class = "panel-body panel-review-pic">
<a class="sidebar-link" href = "#show/{{pw['showid']}}"><img class ="sidebar-img" data-lazy = "static/Zingimages/{{pw['showid']}}.jpg" width = "100%">

<h5 class="mouseOverText" style="display: none;">{{pw['showname']}}</h5></a>
</div>
</div>
</div>
</div>
{%endfor%}
</div>
{%endif%}
<div style = "text-align: center;">

{%for city in citypaper%}

<div class = "col-md-6 reviewCol">
<div class = "panel panel-default oneReview">
<div class = "panel-heading">
<h4><a target = "_blank" href = "{{city['link']}}"><span > {{city['title']}}</span></a></h4>
</div>
<div class = "panel-body panel-review-pic">
<a class="sidebar-link"  href = "#show/{{city['showid']}}"><img class ="sidebar-img" data-lazy = "static/Zingimages/{{city['showid']}}.jpg" width = "100%">
<h5 class="mouseOverText" style="display: none;">{{city['showname']}}</h5></a>
</div>
</div>
</div>



{%endfor%}
</div>
<div style = "text-align: center;">
{%for shap in shapiro%}

<div class = "col-md-6 col-lg-6 reviewCol" >
<div class = "panel panel-default oneReview">
<div class = "panel-heading">
<h4><a  target = "_blank"  href = "{{shap['link']}}"><span> {{shap['title']}}</span></a></h4>
</div>
<div class = "panel-body panel-review-pic">
<a class="sidebar-link" href = "#show/{{shap['showid']}}"><img class ="sidebar-img" data-lazy = "static/Zingimages/{{shap['showid']}}.jpg" width = "100%">
<h5 class="mouseOverText" style="display: none;">{{shap['showname']}}</h5></a>
</div>
</div>
</div>

{%endfor%}
</div>
<div style = "text-align: center;">
{%for inq in inq%}

<div class = "col-md-6 reviewCol">
<div class = "panel panel-default oneReview">
<div class = "panel-heading">
<h4><a target = "_blank" href = "{{inq['link']}}"><span> {{inq['title']}}</span></a></h4>
</div>
<div class = "panel-body panel-review-pic">
<a class="sidebar-link" href = "#show/{{inq['showid']}}"><img class ="sidebar-img" data-lazy = "static/Zingimages/{{inq['showid']}}.jpg" width = "100%">
<h5 class="mouseOverText" style="display: none;">{{inq['showname']}}</h5></a>
</div>
</div>


</div>


{%endfor%}
</div>
</div>

</div>
</div>


<div style = "border: 4px solid gray; background: whitesmoke" id = "paneltext"class="panel panel-default">
  <div class = "panel-heading panel-tickets-heading">
  <div class = "row">
  <div style = "border-right: 8px dashed #e06666"class = "col-md-6">
  <h1 ><span >Tickets</span></h1>
<h4><i>click here for the cheapest seats in town</i></h4>
</div>
<div style ="text-align:center" class = "col-md-6">
  <h1 ><span ><h1><u></u></h1></span></h1>

</div>
</div>
</div>
 
</div>




<div style = "border: 4px solid gray; background: whitesmoke" id = "paneltext"class="panel panel-default">
  <div class = "panel-heading panel-venue-heading">
  <div class = "row">
  <div style = "border-right: 8px dashed #e06666"class = "col-md-8">
  <h1 ><span >Philadelphia Theaters</span></h1>
<h4><i>stages presenting live theater</i></h4>
</div>
<div style ="text-align:center" class = "col-md-4">
  <h1 ><span ><h1><u> </u></h1></span></h1>

</div>
</div>
</div>
 <div style = "border-bottom: 4px solid gray; display:none; background:white"id = "zing-venues"class = "panel-body">




{%for venue in venues%}
{% if loop.index == 1%}
<div class = "row">

{% elif (loop.index -1)%3 == 0%}

</div>
<div class = "row">
{%endif%}
<div style = "padding: 30px;"class = "col-lg-4">
<div><a  class = "sidebar-link" href = "#venue/{{venue['id']}}" >
<img class ="sidebar-img venueImage" src = "static/ZingVenueImages/{{venue['id']}}.png" width = "100%">
<h3 class = "mouseOverText" >{{venue['name']}}<br>

</h3>
</a>

</div>

</div>
{%endfor%}
</div>

</div>
</div>
</div>

<div style = "border: 4px solid gray; background: whitesmoke" id = "paneltext"class="panel panel-default">
  <div class = "panel-heading panel-shows-heading">
  <div class = "row">
  <div style = "border-right: 8px dashed #e06666"class = "col-md-6">
  <h1 ><span >Philadelphia Shows</span></h1>
<h4><i>an aggregation of shows in Philadelphia</i></h4>
</div>
<div style ="text-align:center" class = "col-md-6">
  <h1 ><span ><h1><u></u></h1></span></h1>

</div>
</div>
</div>
 <div style = "border-bottom: 4px solid gray; display:none; background:white"id = "zing-shows"class = "panel-body">


<div class = "row">

{%for show in shows%}
{%if (loop.index + 2)%4 == 0%}
<div  class = "col-md-3"  style ="text-align:center">
{%else%}
<div  class = "col-md-3" style ="text-align:center">
{%endif%}
<div><a  class = "sidebar-link" href = "#show/{{show['id']}}" >
<img class ="sidebar-img" src = "static/Zingimages/{{show['id']}}.jpg" width = "100%">
<h3 class = "mouseOverText" >{{show['name']}}<br>
{%if show['rating'] %}
<span id = "starsspot"class="homepage-star-rating-x{{loop.index}}" >
  <input type="radio" name="rating" value="1"><i></i>
  <input type="radio" name="rating" value="2"><i></i>
  <input type="radio" name="rating" value="3"><i></i>
  <input type="radio" name="rating" value="4"><i></i>
  <input type="radio" name="rating" value="5"><i></i>
</span>
{%endif%}
</h3>
</a>
</div>
<!-- {%for review in show['reviews']%}
<a href = "{{review[1]}}">{{review[0]}}</a>
<hr>
{%endfor%} -->
<hr>
</div>
{%endfor%}
</div>

</div>
</div>
</div>





