

<style type="text/css">

#startRating{
	display:none;
}
#yourRating{
	display:none;
}

.producer{
  font-size: 14pt;
  text-align: right;
  float:right;
}
.producer1{
  font-size: 14pt;
  text-align: right;
  
}
{%for review in userreviews%}
.person-star-rating-x{{loop.index}} {
  margin-left: 10%;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 75px;
  height: 15px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.person-star-rating-x{{loop.index}} i {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: {{review[1]}}%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.person-star-rating-x{{loop.index}} input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
{%endfor%}




</style>

<body>


<div id = "showid" style = "display:none">{{showdata['id']}}</div>


<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {{showdata['name']}}
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <img src = "static/Zingimages/{{showdata['id']}}.jpg" width = "100%">
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{showdata['name']}}</h4>
      </div>
      <div class="modal-body">
        By  <span id="user">{{useron}}</span>
        <br>
        <br>
        Which one of these words apply?
        <br>
        <br>
        <div class = "row">
          <div class = "col-md-6">
            <div class = "checkboxlistgood" id = "checkboxlistgood">
              <input class = "good"  name = "Inspiring" type = "checkbox"> Inspiring</input>
              <br>
              <input class = "good" name = "Funny" type = "checkbox"> Funny</input>
              <br>
              <input class = "good" name = "Thought provoking" type = "checkbox"> Thought provoking</input>
              <br>
              <input class = "good" name = "Energizing" type = "checkbox"> Energizing</input>
              <br>
              <input class = "good" name = "Outrageous" type = "checkbox"> Outrageous</input>
              <br>
              <input class = "good" name = "Entertaining" style = "text-color: green" type = "checkbox"> Entertaining</input>
              <br>
              <input class = "good" name = "Heart Wrenching" type = "checkbox"> Heart Wrenching</input>
              <br>
              <input class = "good" name = "Dramatic" type = "checkbox"> Dramatic</input>
              <br>
              <input class = "good" name = "Passionate" type = "checkbox"> Passionate</input>
              <br>
              <input class = "good" name = "Sexy" type = "checkbox"> Sexy</input>
          </div>
        </div>
      <div class = "col-md-6">
        <div class = "checkboxlistbad" id = "checkboxlistbad">
            <input type = "checkbox" name = "Overly long"> Overly long</input>
            <br>
            <input type = "checkbox" name = "Boring"> Boring</input>
            <br>
            <input type = "checkbox" name = "Self Indulgent"> Self Indulgent</input>
            <br>
            <input type = "checkbox" name = "Sophmoric"> Sophmoric</input>
            <br>
            <input type = "checkbox" name = "Insulting"> Insulting</input>
            <br>
            <input type = "checkbox" name = "A dud"> A dud</input>
        </div>
      </div>
    </div>

    <br>
    Any extra thoughts...?
    <br>


    <textarea id = "writeuserreview"cols="50" rows="5">
    </textarea>

    <br>
    <br>
    Your rating?
    <br>
    <br>
    <span class="star-rating">
      
      
    <input type="radio" name="stars" value="1"><i></i>
    <input type="radio" name="stars" value="2"><i></i>
    <input type="radio" name="stars" value="3"><i></i>
    <input type="radio" name="stars" value="4"><i></i>
    <input type="radio" name="stars" value="5"><i></i>
    </span>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <button onClick="submit_review()" type="button" id = "submitshowreview" data-dismiss="modal" href = "#submitreview" class="btn btn-primary" >Submit Review</button>
      </div>
    </div>
  </div>
</div>






<div  style = "border: 4px solid gray !important;"id = "paneltext"class="panel panel-default">
  <div class = "panel-heading">
  <div class = "row">
  <div class = "col-md-8" >
    <h1 ><span id = "showname">{{showdata['name']}}</span> </h1>

    </div>
    <div class = "col-md-4" style = "text-align:right;  vertical-align: bottom; padding-top: 3%;">
    <div><button class="btn btn-default" id = "writebutton">What did you think?</button>
  </div>
  </div>
  </div>
   <div class = "row">
   <div class = "col-md-4" >
       <span class="total-star-rating">
    <input type="radio" name="rating" value="1"><i></i>
    <input type="radio" name="rating" value="2"><i></i>
    <input type="radio" name="rating" value="3"><i></i>
    <input type="radio" name="rating" value="4"><i></i>
    <input type="radio" name="rating" value="5"><i></i>
    </span>
   </div>
   <div class = "col-md-8" style = "text-align:center;  ">
  
    
    <div class = "producer1"><i><a href = "#venue/{{showdata['venueid']}}"> {{venue[0]['name']}}</a></i></div>
    {%if producer != venue[0]['name']%}
    <div class = "producer1"><i>{{producer}}</i></div>
    {%endif%}
    </div>
   
</div>

</div>
        <div class = "panel-body">
        <div class = "row">
        <br>
        <div class = "col-md-5 " style "text-align: center">
        <a  data-toggle="modal" data-target="#imageModal" >
        <img src = "static/Zingimages/{{showdata['id']}}.jpg" width = "100%"></a>
  


<div style = "text-align: center">
<br>

</div>
</div>
<div class = "col-md-7 border-left" id = "showContent"style = "border-bottom: 2px dashed #aaa; 
border-top: 2px dashed #aaa; text-align: center">
<div class = "showDescription">
{{headerDescription}}
 {% if venue[0] is defined %}
 <br>
       
        {% endif %}
        <p>{{description}}</p>
        </div>
        <div class = "userContent">
        <div class = "row">
<div class = "col-md-6">
<div style = "color: green">
{% for adjective in goodadjectives %}
{{adjective['count']}} 
{% if adjective['count'] >1 %}
people
{%else%}
person 
{%endif%}
found this 
{{adjective['adjective']}}
<br>
{%endfor %}
</div>


<div style = "color:red">
{% for adjective in badadjectives %}
{{adjective['count']}} 
{% if adjective['count'] >1 %}
people
{%else%}
person 
{%endif%}
found this 
{{adjective['adjective']}}
<br>
{%endfor %}
</div>
</div>
<div class = "col-md-6">
<ul class="list-group">
{% for review in userreviews %}
<li class="list-group-item" style = "text-align: center"><p>
{{review[2][0]['first']}} {{review[2][0]['last']}}
<span class="person-star-rating-x{{loop.index}}">
  <input type="radio" name="rating" value="1"><i></i>
  <input type="radio" name="rating" value="2"><i></i>
  <input type="radio" name="rating" value="3"><i></i>
  <input type="radio" name="rating" value="4"><i></i>
  <input type="radio" name="rating" value="5"><i></i>
</span>
<br>
{{review[0]}}</p></li>
{%endfor %}
</ul>
</div>
</div>
</div>
        {%if articles|length > 0%}
      
        <div style = "text-align: left;" class = "outsideReviews">

<br>
<br>
{% for article in articles %}
<div class = "col-md-4 ShowreviewCol" >
<div class = "panel panel-default oneReview">
<div class = "panel-heading">
<h4><a  target = "_blank"  href = "{{article['link']}}"><span> {{article['title']}}</span></a></h4>
</div>
<div class = "panel-body panel-review-pic">
{%if article['publication'] == 'http://bsr2.dev/index.php'%}
<img style = "max-width: 100%" src = "../static/logos/bsr.png">
{%endif%}
{%if article['publication'] == 'http://phindie.com'%}
<img style = "max-width: 100%" src = "../static/logos/phindie.jpg">
{%endif%}
{%if article['publication'] == 'http://www.philadelphiaweekly.com/arts-and-culture'%}
<img style = "max-width: 100%" src = "../static/logos/pw.jpg">
{%endif%}
{%if article['publication'] == 'http://citypaper.net'%}
<img style = "max-width: 100%" src = "../static/logos/citypaper.png">
{%endif%}
{%if article['publication'] == 'http://www.newsworks.org/'%}
<img style = "max-width: 100%" src = "../static/logos/shapiro.jpg">
{%endif%}
{%if article['publication'] == 'http://www.philly.com/r?19=960&32=3796&7=989523&40=http%3A%2F%2Fwww.philly.com%2Fphilly%2Fblogs%2Fphillystage%2F'%}
<img style = "max-width: 100%" src = "../static/logos/inq.png">
{%endif%}
</div>
</div>
</div>
{%endfor %}
{%endif%}
<br>
</div>



</div>



</div>








<!-- <br>
{% for cast in cast%}
{{cast['role']}} -- <a href = "/person/{{cast['actorname']}}"> {{cast['actorname']}}</a>
<br>
{%endfor %}
<br> -->












<div id="startRating" >{{rating}}</div>


</div>
</div>

</body>

