

<style type="text/css">

#startRating{
	display:none;
}
#yourRating{
	display:none;
}

.producer{
  font-size: 14pt;
  text-align: right;
  float:right;
}
.producer1{
  font-size: 14pt;
  text-align: right;
  
}
.checkboxFivegood {
  width: 25px;
  position: relative;
}
.checkboxFivegood label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #ddd;
}
.checkboxFivegood label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid green;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkboxFivegood label:hover::after {
  opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFivegood input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.checkboxFivebad {
  width: 25px;
  position: relative;
}
.checkboxFivebad label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #ddd;
}
.checkboxFivebad label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid red;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkboxFivebad label:hover::after {
  opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFivebad input[type=checkbox]:checked + label:after {
  opacity: 1;
}



body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
</style>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{showdata['name']}}</h4>
      </div>
      <div class="modal-body">
      By {{useron}}
      <br>
      <br>

      Which one of these words apply?
      <br>
      <br>
      <div class = "row">
      <div class = "col-md-6">
      <section id = "good">
    <div class="checkboxFivegood">
      <input type="checkbox" value="1" id="checkboxFiveInput" name="Inspiring" />
      <label for="checkboxFiveInput"></label>
    </div>
    </section>
    <section>
    <div class="checkboxFivegood">
      <input type="checkbox" value="1" id="checkboxFiveInput" name="Inspiring" />
      <label for="checkboxFiveInput"></label>
    </div>
    </section>
    <div class="checkboxFivegood">
      <input type="checkbox" value="1" id="checkboxFiveInput" name="Inspiring" />
      <label for="checkboxFiveInput"></label>
    </div>
    <div class="checkboxFivegood">
      <input type="checkbox" value="1" id="checkboxFiveInput" name="Inspiring" />
      <label for="checkboxFiveInput"></label>
    </div>
    <div class="checkboxFivegood">
      <input type="checkbox" value="1" id="checkboxFiveInput" name="Inspiring" />
      <label for="checkboxFiveInput"></label>
    </div>
    <div class="checkboxFivegood">
      <input type="checkbox" value="1" id="checkboxFiveInput" name="Inspiring" />
      <label for="checkboxFiveInput"></label>
    </div>
    <div class="checkboxFivegood">
      <input type="checkbox" value="1" id="checkboxFiveInput" name="Inspiring" />
      <label for="checkboxFiveInput"></label>
    </div>
    <div class="checkboxFivegood">
      <input type="checkbox" value="1" id="checkboxFiveInput" name="Inspiring" />
      <label for="checkboxFiveInput"></label>
    </div>
    <div class="checkboxFivegood">
      <input type="checkbox" value="1" id="checkboxFiveInput" name="Inspiring" />
      <label for="checkboxFiveInput"></label>
    </div>
    </section>
      <input class = "good" type = "checkbox"> Inspiring</input>
      <br>
      <input class = "good" type = "checkbox"> Funny</input>
      <br>
      <input class = "good" type = "checkbox"> Thought provoking</input>
      <br>
      <input class = "good" type = "checkbox"> Energizing</input>
      <br>
      <input class = "good" type = "checkbox"> Outrageous</input>
      <br>
      <input class = "good" style = "text-color: green" type = "checkbox"> Entertaining</input>
      <br>
      <input class = "good" type = "checkbox"> Heart Wrenching</input>
      <br>
      <input class = "good" type = "checkbox"> Dramatic</input>
      <br>
      <input class = "good" type = "checkbox"> Passionate</input>
      <br>
      <input class = "good" type = "checkbox"> Sexy</input>
</div>
 <div class = "col-md-6">
      <input type = "checkbox"> Overly long</input>
      <br>
      <input type = "checkbox"> Boring</input>
      <br>
      <input type = "checkbox"> Self Indulgent</input>
      <br>
      <input type = "checkbox"> Sophmoric</input>
      <br>
      <input type = "checkbox"> Insulting</input>
      <br>
      <input type = "checkbox"> A dud</input>
      
</div>




</div>

      <textarea id = "writeuserreview"cols="50" rows="5">
...
</textarea>


        <span class="star-rating">
      
      
  <input type="radio" name="rating" value="1"><i></i>
  <input type="radio" name="rating" value="2"><i></i>
  <input type="radio" name="rating" value="3"><i></i>
  <input type="radio" name="rating" value="4"><i></i>
  <input type="radio" name="rating" value="5"><i></i>
</span>
<div class ="choice">
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id = "submitreview" class="btn btn-primary" data-dismiss="modal">Submit Review</button>
      </div>
    </div>
  </div>
</div>






<div id = "paneltext"class="panel panel-default">
<div class = "panel-heading">
<h1 id = "showname">{{showdata['name']}}</h1>
<span class="total-star-rating">
  <input type="radio" name="rating" value="1"><i></i>
  <input type="radio" name="rating" value="2"><i></i>
  <input type="radio" name="rating" value="3"><i></i>
  <input type="radio" name="rating" value="4"><i></i>
  <input type="radio" name="rating" value="5"><i></i>
</span>
{%if showdata['producer']|length > 40 %}

<div class = "producer1"><i>{{producer}}</i></div>
{%else%}
<span class = "producer"><i>{{producer}}</i></span>
{%endif%}
</div>
              <div class = "panel-body">
<div class = "row">
<br>
<div class = "col-md-6" style "text-align: center">
<img src = "{{showdata['pic']}}" width = "100%">
</div>
<div class = "col-md-6">
</div>
<div class = "col-md-6">
<table>
<tr>
{% for date in dates %}
<td>
<a href = {{date['ticketlink']}}>{{date['playing']}}</a>
</td>
</tr>
{%endfor %}
</table>
<br>
<br>
<br>
<button class="btn btn-default" data-toggle="modal" data-target="#myModal" id = "writebutton">What did you think?</button>
</div>



</div>



<br>
<br>
{% if venue[0] is defined %}
Playing at - <a href = "/venue/{{venue[0]['name']}}"> {{venue[0]['name']}}</a>
{% endif %}

<br>
<br>
<p>{{description}}<p>



<br>
{% for cast in cast%}
{{cast['role']}} -- <a href = "/person/{{cast['actorname']}}"> {{cast['actorname']}}</a>
<br>
{%endfor %}
<br>

{% for review in reviews %}

<object width="300" height="100" type="text/plain" data="../static/reviews/{{review['reviewtext']}}" border="2" >
</object>
<br>{{review['journalist']}}
<br>{{review['publication']}}
{%endfor %}



<br>
{% for review in userreviews %}

<object width="300" height="100" type="text/plain" data="../static/reviews/{{review['reviewtext']}}" border="2" >
</object>

{%endfor %}








<div id="startRating" >{{rating}}</div>


</div>
</div>

