<div id = "paneltext" style = "text-align: center"class="panel panel-default">


<div id = "somethingWrong" style = "display: none"></div>

<br>
<h2 > Sign up for Zing</h2>
<br>
<a style = "background-color: #3B5998; color: white; "  id = "signin2" class="btn btn-default" href="#facebookLogin" >Sign up with Facebook</a>
<br>
Don't worry, we never post without your permission.
<br>
<p> or create an account <p>

<br>
<form class = "form-inline" role = "form" >
<div class="form-group" style = "width: 37.5%">
  <input  type="text"  style = "width: 100%" id = "newfirst"class="form-control" placeholder="First Name">
          </div>
          <div class="form-group" style = "width: 37.5%">
  <input  type="text" style = "width: 100%" id = "newlast"class="form-control" placeholder="Last Name">
          </div>
          <br>
           <div class="form-group"style = "width: 75%"> 
           
  <input style = "width: 100%" type="text" id = "newemail" class="form-control" placeholder="Email">
</div>
<br>
 <div class="form-group"style = "width: 75%" >
 <input style = "width: 100%" margin-bottom = "0px" margin-top = "0px"type="password" id = "newpassword" class="form-control" placeholder="Password">
</div>
 <br>
 <br>
 

<a style = "margin-bottom: 5%"  id = "signin2" class="btn btn-default" href="#signup" >Sign up</a>
</form>
</div>
</div>

</div>