<h1>Sign up </h1>
<p> Zing is a free resource for actors, critics, theatergoers and producers</p>
<div style = "width:30%"class="form-group">
  <input  type="text" id = "loginUsername"class="form-control" placeholder="Username or Email">
          </div>
          <div style = "width:30%" class="form-group">
  <input  type="password" id = "loginPassword"class="form-control" placeholder="Password">
          </div>
 <div class="form-group">

 <a margin-left = "40%" margin-bottom ="5%" id = "signin2" class="btn btn-default" href="#login" >Sign in</a>

