<div id="carousel-example-generic" class="carousel slide" style="text-align:center; background-color:#e06666"data-ride="carousel">
  <!-- Indicators -->
  

  <!-- Wrapper for slides -->
   
  <div class="carousel-inner">
  <div class="item active" style = "text-align: center">
      <a href = "#show/{{featured[0]['name']}}"><img style = "margin: 0 auto" src="static/Fringeimages/{{featured[0]['id']}}.jpg"alt="..."></a>
      <div class="carousel-caption">
        FRINGE 2014 - {{featured[0]['name']}}
      </div>
    </div>
 {%for feature in featured%}
 {%if loop.index != 1%}
 <!-- <a data-target="#carousel-example-generic" data-slide-to="{{loop.index}}">{{loop.index}}</a> -->
    <div class="item " style = "text-align: center">

      <a href = "#show/{{feature['name']}}"><img style = "margin: 0 auto" src="static/Fringeimages/{{feature['id']}}.jpg"alt="..."></a>
      <div class="carousel-caption">
        FRINGE 2014 - {{feature['name']}}
      </div>
    </div>
    {%endif%}
 {%endfor%}
  </div>
    

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
 