<div class ="surveyDescript">

<h1 style = "text-align: center">Hello, <b>{{firstname}}</b> and welcome to Zing</h1>
<br>
<br>

<br>
 <h4>We ask you to sign up so we can document your theater experience and join it with others. </h4>

 <h5>That way we can present the wisdom of the crowd more fully than ever before and even show what different types of patrons – fans of serious drama, musicals and comedies - thought about it.</h5>
 <h5> If you file multiple reviews,you will also receive a special designation, recognizing your statusas a Philly Zing frequent flyer. </h5>
 </div>
<div style = " text-align: center"class="form-group" >
<label> Click and drag to rank your favorite types of theater:</label>
<br>

<div class ="ranking">
<ul id="sortable1" class="connectedSortable">
  <li class="ui-state-default" value = "drama">Drama</li>
  <li class="ui-state-default" value = "musicals">Musicals</li>
  <li class="ui-state-default" value = "comedy">Comedy</li>
  <li class="ui-state-default" value = "experimental">Experimental</li>
  <li class="ui-state-default" value = "classics">Classics</li>
</ul>
 

</div>
<br>
<br>

<div class = "questions">
  <label style="text-align:center; font-weight:bold"> Do you work in theater?</label>
  <br>




    <input type="radio" name="optionsRadios" id="Yes" value="yes" >
   Yes


    <input type="radio" name="optionsRadios" id="No" value="no">
    No


<br>
<br>

<label style = "font-weight:bold">
How committed a theatergoer are you? Are you: 


</label> 
<br>
<div class = "theatergoing">
<br><input type="radio" name="Radios"  value="obsessed" >
  Obsessed about theater, attend live shows often?
  <br>
  
   <input type="radio" name="Radios" value="occasional" >
  See shows occasionally but am interested?
  
  <br>

   <input type="radio" name="Radios" value="rare" >
 Rarely go
  
</div>
</div>


<br>
<br>


<div style = "width: 100%; text-align:center">
<a  class="btn btn-default" href="#doneSurvey" >Continue to Zing</a>
</div>