<h1 style = "text-align: center">Hello, <b>{{firstname}}</b> and welcome to Zing</h1>
<br>
<br>

<br>
 <h4>We ask you to sign up so we can document your theater experience and join it with others. </h4>

 <h5>That way we can present the wisdom of the crowd more fully than ever before and even show what different types of patrons – fans of serious drama, musicals and comedies - thought about it.</h5>
 <h5> If you file multiple reviews,you will also receive a special designation, recognizing your statusas a Philly Zing frequent flyer. </h5>
<div style = " text-align: center"class="form-group" >
<label> What are your favorite types of theater? (check all that apply)</label>
<div class = "userPreferences" id = "userPreferences">

   
      <input type="checkbox" value = "drama"> Drama</input>
   <br>
      <input type="checkbox" value = "musicals"> Musicals</input>
    <br>
      <input type="checkbox" value = "comedy"> Comedy</input>
<br>
      <input type="checkbox" value = "experimental"> Experimental</input>
<br>
      <input type="checkbox" value = "classics"> Classics</input>
    <br>
</div>


  <label> Do you work in theater?</label>


<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="Yes" value="yes" >
   Yes
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="No" value="no">
    No
  </label>
</div>
</form>



<br>
<br>


<div style = "width: 100%; text-align:center">
<a  class="btn btn-default" href="#doneSurvey" >Continue to Zing</a>
</div>