<h1 style = "text-align: center">Hello, <b>{{firstname}}</b> and welcome to Zing</h1>
<br>
<br>
<p style = "text-align: center"> <b>(WHY WE WANT YOU TO FILL OUT THIS SURVEY; what WE'RE GOING TO DO WITH THE INFO)</b></p>
<br>
 <p>We ask you to sign up so we can document your theater experience and join it withothers. </p>

 <p>That way we can present the wisdom of the crowd more fully than ever before and even show what different types of patrons – fans of serious drama, musicals and comedies - thought about it.</p>
 <p> If you file multiple reviews,you will also receive a special designation, recognizing your statusas a Philly Zing frequent flyer. </p>
<div style = " text-align: center"class="form-group" >
<label> What are your favorite types of theater? (check all that apply)</label>
<form>
<div class="checkbox">
    <label>
      <input type="checkbox" value = "drama"> Drama
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value = "musicals"> Musicals
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value = "comedy"> Comedy
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value = "experimental"> Experimental
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value = "classics"> Classics
    </label>
  </div>



</form>
  <label> Do you work in theater?</label>
<form>

<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="Yes" value="yes" >
   Yes
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="No" value="no">
    No
  </label>
</div>
</form>



<br>
<br>


<div style = "width: 100%; text-align:center">
<a id = "createbutton" class="btn btn-default" href="/" >Continue to Zing</a>
</div>