<!doctype html>

{%extends "layout.html"%}
{% block title %}{{venuedata['name']}}{% endblock %}
{%block stylesheet%}<link href="../static/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block contentA %}
<div id = "paneltext"class="panel panel-default">
              <div class = "panel-body">
<h2 id = "showname">{{venuedata['name']}}</h2>


<br>
SHOWS
<br>
{% for showdata in showdata%}
<table>
<tr>
<td>
<a href = "/show/{{showdata['name']}}">{{showdata['name']}} </a>
</td>


{%endfor %}
</tr>
</table>

<br>
STAFF
<br>
{% for staff in staff%}

{{staff['name']}}, {{staff['title']}}, {{staff['email']}}
<br>
{%endfor %}
</div>
</div>
{%endblock %}

{% block sources %}

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../static/show.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/jquery.ba-hashchange.min.js"></script>

  {% endblock %}
