<!doctype html>

{%extends "layout.html"%}
{% block title %}{{venuedata['name']}}{% endblock %}
{%block stylesheet%}<link href="../static/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

{{venuedata['name']}}
<br>
SHOWS
<br>
{% for showdata in showdata%}

<a href = "/show/{{showdata['name']}}">{{showdata['name']}} </a>, {{showdata['start_date']}} - {{showdata['end_date']}}
<br>
{%endfor %}


<br>
STAFF
<br>
{% for staff in staff%}

{{staff['name']}}, {{staff['title']}}, {{staff['email']}}
<br>
{%endfor %}
{%endblock %}

{% block sources %}

 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../static/login.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/jquery.ba-hashchange.min.js"></script>

  {% endblock %}
