 <form class = "form-inline" role = "form" style = "margin-left: 5%">
<div class="form-group" style = "width: 50%">
 <input style = "width: 100%" type="text" id = "fbemail" value = "{{email}}" class="form-control">
</div>
<br>
 <div class="form-group"style = "width: 50%" >
 <input style = "width: 100%" margin-bottom = "0px" margin-top = "0px"type="password" id = "fbpassword" class="form-control" placeholder="Password">
</div>
 <br>

 <p id = "firstname" style = "display: none">{{first}}</p>
 <p id = "lastname" style = "display: none">{{last}}</p>
 <a style = "margin-left: 15%; margin-bottom: 5%"  id = "signin2" class="btn btn-default" href="#fbsignup" >Sign up</a>