<p style = "font-size: 13pt; text-align: center"><b>Here's how PhillyZing.com works:</b>
<br>
<br>
<a href = "#login">Register to be a reviewer. </a>
<br>
<br>
<a>Share your authentic experience at a live show. </a>
<br>
<br>
We count your review, and the best shows rise to the top. 
</p>
<a class="twitter-timeline" href="https://twitter.com/search?q=%23theater%20%23philadelphia" data-widget-id="533000707532546048">Tweets about #theater #philadelphia</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>